<div class="settings-container">
  <div class="image-update-container">
    <mat-progress-bar
      *ngIf="uploadInProgress"
      mode="determinate"
      [value]="uploadProgress"
    ></mat-progress-bar>
    <img
      *ngIf="imagePreviewUrl"
      [src]="imagePreviewUrl"
      alt="Selected profile image preview"
      class="image-preview"
    />
    <input
      #fileUpload
      (change)="onFileSelected($event)"
      type="file"
      accept="image/*"
      style="display: none"
    />
    <button mat-raised-button color="primary" (click)="fileUpload.click()">
      Choose File
    </button>
  </div>
  <!-- </div> -->
  <form
    [formGroup]="updateUserForm"
    action=""
    class="form-container"
    (ngSubmit)="updateUser.emit()"
  >
    <!-- <input
        [formControlName]="'username'"
        placeholder="Username"
        type="text"
      /> -->
    <div class="form-fields">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Ex. Satoshi"
          [formControlName]="'username'"
        />
      </mat-form-field>
      <!-- <input [formControlName]="'name'" placeholder="Name" type="text" /> -->
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Sat" [formControlName]="'name'" />
      </mat-form-field>
    </div>
    <div class="submit-btn-container">
      <button
        class="settings-btn"
        (click)="toggleSettings.emit()"
        mat-raised-button
        color="danger"
      >
        Done
      </button>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</div>
