<div class="small-screen-container">
  <div
    [ngStyle]="{
        'height': '55vh',
        'width': '100%',
        'display': 'flex',
        'flexDirection': 'column',
        'alignItems': 'center',
        'justifyContent': 'space-between',
    }"
  >
    <div
      [ngStyle]="{
        height: '100%',
        width: '100%',
        display: 'flex',
        flexDirection: 'column',
        alignItems: 'center',
        justifyContent: 'space-around'
      }"
    >
      <h2
        [ngStyle]="{
                'height': '10%',
                'width': '100%',
                'display': 'flex',
                'flexDirection': 'row',
                'alignItems': 'center',
                'justifyContent': 'center',
            }"
      >
        Trending {{ selectedContent }}
      </h2>
      <div *ngIf="!trendingContent_state" class="listt-container">
        <div *ngFor="let coin of crypto$ | async">
          <app-card
            [collectionClassification]="'crypto'"
            [dataImage]="coin.item.small"
            [dataName]="coin.item.name"
            [dataMarketCapRank]="coin.item.market_cap_rank"
            [coinId]="coin.item.id"
            [cryptosCollection]="cryptoCollection"
            [nftCollection]="nftCollection"
          />
        </div>
      </div>

      <div *ngIf="trendingContent_state" class="listt-container">
        <div *ngFor="let nft of nfts$ | async">
          <app-card
            [collectionClassification]="'nft'"
            [dataImage]="nft.thumb"
            [dataName]="nft.name"
            [coinId]="nft.id"
          />
        </div>
      </div>
    </div>
    <div class="toggleButton" [ngStyle]="{ height: '20%' }">
      <button
        class="btn"
        *ngIf="!trendingContent_state"
        (click)="toggleContentState()"
      >
        NFTs
      </button>
      <button
        class="btn"
        *ngIf="trendingContent_state"
        (click)="toggleContentState()"
      >
        Crypto
      </button>
    </div>
  </div>
    <div class="paginator-container">
      <app-paginator class="paginator"/>
    </div>
</div>
