<div class="small-page">
  <div
    *ngIf="chartToggler"
    id="divChart"
    [ngStyle]="{
      position: 'absolute',
      height: '90vh',
      width: '100%',
      zIndex: 10000
    }"
  >
    <app-chart-view-small
      [chosenCrypto]="chosenCrypto"
      (closeChart)="closeChart.emit()"
      [chartState]="chartToggler"
    />
  </div>
  <div [ngClass]="chartToggler ? 'profile-blurred' : 'profile-solid'">
    <div class="user-profile-img-container">
      <div class="img-name-container">
        <img
          *ngIf="!imgSetting_State"
          class="img-element"
          [src]="
            profilePic
              ? profilePic
              : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW_ta1iyjzaD9GD0j6LtM7bdUS2_tbI2ESRQ&usqp=CAU'
          "
          alt=""
          (click)="togggleImage_Setting()"
        />
        <div *ngIf="imgSetting_State">
          <mat-card-actions>
            <button
              mat-button
              color="warn"
              (click)="useCopresserOnImage.emit()"
            >
              <mat-icon>cloud_upload</mat-icon>
            </button>
          </mat-card-actions>
        </div>
        <div class="user-name-container">
          <div class="user-name-sub">
            <h2 *ngIf="!nameSetting_State && user.name" (click)="togggleName_Setting()">
              {{ user.name }}
            </h2>
             <h2 *ngIf="!nameSetting_State && !user.name" (click)="togggleName_Setting()">
              Anonymous Anonymous
            </h2>
            <form
              class="name-form-element"
              *ngIf="nameSetting_State"
              action=""
              [formGroup]="updateUserForm"
              (ngSubmit)="updateAndToggle()"
              class="name-edit-form-container"
            >
              <input
                class="name-input"
                [formControlName]="'name'"
                placeholder="Name"
                type="text"
              />
              <div class="settings-button-options">
                <button
                  class="name-update-btn"
                  type="submit"
                  mat-raised-button
                  color="primary"
                >
                  Submit
                </button>
                <button
                  class="name-update-btn"
                  mat-raised-button
                  color="warn"
                  (click)="cancelEdit()"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
          <!-- <div class="user-name-sub" *ngIf="!user.name">
            <h2 *ngIf="!nameSetting_State" (click)="togggleName_Setting()">
              Anonymous Anonymous
            </h2>
            <form
              class="name-form-element"
              *ngIf="nameSetting_State"
              action=""
              [formGroup]="updateUserForm"
              (ngSubmit)="updateAndToggle()"
            >
              <input
                [formControlName]="'name'"
                placeholder="Name"
                type="text"
              />
              
              <div class="img-name-container">
                <button
                  class="name-update-btn"
                  type="submit"
                  mat-raised-button
                  color="primary"
                >
                  Submit
                </button>
                <button
                  class="name-update-btn"
                  (click)="cancelEdit()"
                  mat-raised-button
                  color="warn"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div> -->
          <div class="user-username-sub">
            <p>UserUsername</p>
          </div>
        </div>
        <div
          [ngStyle]="{
            position: 'absolute',
            right: 0,
            bottom: 0,
            height: '25%',
            width: '40%',
            display: 'flex',
            flexDirection: 'row',
            alignItems: 'center',
            justifyContent: 'space-around',
          }"
          *ngIf="imgSetting_State"
        >
          <button
            [ngStyle]="{
              height: '100%',
              width: '40%'
            }"
            mat-raised-button
            color="primary"
            (click)="updateAndToggle()"
          >
            Submit
          </button>
          <button
            [ngStyle]="{
              height: '100%',
              width: '40%'
            }"
            mat-raised-button
            color="warn"
            (click)="cancelEdit()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="user-data" [style.height]="this.aboutIsActive ? '17vh' : '8vh'" (click)="this.aboutIsActive = !this.aboutIsActive">
        <h3>World Idenitity: Coming Soon</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda
          sit repellat maiores voluptate numquam aperiam harum unde similique
          cumque. Sequi repudiandae rem quisquam aperiam ut quae dolorum cumque
          assumenda odit.
        </p>
      </div>
    <div class="profile-options">
      <button
        appGlowify
        mat-button
        color="accent"
        (click)="switchDataViews('crypto')"
      >
        Crypto
      </button>
      <button
        appGlowify
        mat-button
        color="accent"
        (click)="switchDataViews('nfts')"
      >
        NFTs
      </button>
      <button
        appGlowify
        mat-button
        color="accent"
        (click)="switchDataViews('posts')"
      >
        Posts
      </button>
    </div>
    <div class="profile-content-container" [style.height]="this.aboutIsActive ? '55%': '65%'">
      <div *ngIf="selectedDataState === 'crypto'" class="data-slider">
        <div *ngFor="let crypto of cryptoCollection">
          <mobile-data-card
            [primaryData]="crypto"
            (activateChart)="toggleChart.emit($event)"
            [dataType]="'crypto'"
          />
        </div>
        <div
          *ngIf="!cryptoCollection[0]"
          class="empty-list-instruction-container"
        >
          <h3>
            Add to your crypto collection by selecting them in
            <a routerLink="/home">Home</a>
          </h3>
        </div>
      </div>
      <div *ngIf="selectedDataState === 'nfts'" class="data-slider">
        <div *ngFor="let nft of nftCollection">
          <mobile-data-card [nftData]="nft" [dataType]="'nft'" />
        </div>
        <div *ngIf="!nftCollection[0]" class="empty-list-instruction-container">
          <h3>
            Add to your nft collection by selecting them in
            <a routerLink="/home">Home</a>
          </h3>
        </div>
      </div>
      <div *ngIf="selectedDataState === 'posts'" class="data-slider">
        <div class="empty-list-instruction-container">
          <h3>Coming soon for mobile 💎</h3>
          <h5>Functional with Desktops ⚡️</h5>
        </div>
      </div>
    </div>
  </div>
</div>
