.small-page {
  position: relative;
  height: 90vh;
  width: 100vw;
  background-color: rgb(25, 25, 57);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile-blurred {
  height: 100%;
  width: 100%;
  filter: blur(10px);
}

.profile-solid {
  height: 100%;
  width: 100%;
}

/* PARENT */
.user-profile-img-container {
  position: relative;
  /* height: auto; */
  height: 15vh;
  width: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
}

/* SUB */
.img-name-container {
  position: relative;
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* background-image: url('../../../../../../assets/cool-background.png'); */
  background-size: cover;
  background-position: center;
}

.img-element {
  height: 100%;
  width: auto;
  max-width: 30%;
}

.user-name-container {
  position: relative;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.editor-container {
  position: absolute;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.95);
}

.user-name-sub {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: auto;
  max-height: 80%;
  min-width: 30%;
  max-width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.user-name-sub > h4, h5 {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.278);
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  /* text-overflow: ellipsis; */
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.name-update-btn {
  height: 100%;
  width: auto;
}

.user-username-sub {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 5rem;
  max-width: 20rem;
  width: auto;
  height: auto;
}

.user-username-sub > p {
  background-color: rgba(255, 255, 255, 0.144);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* .name-edit-form-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
} */

.name-input {
  height: 2rem;
  width: 60%;
}

.settings-button-options {
  height: 5%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/*  SUB */
.user-data {
  width: 100%;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  overflow-y: scroll;
}

.user-data > p {
  font-size: 12px;
}

/* PARENT */
.profile-options {
  height: 10%;
  width: 100%;
  background-color: rgb(3, 3, 36);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* PARENT */
.profile-content-container {
  /* height: 55%; */
  width: 100%;
  background-color: rgb(3, 3, 36);
}

.data-slider {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.empty-list-instruction-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.322);
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
}
