<!-- <div class="wallpaper-login">
    <div *ngIf="sizeState" class="big-screen-wallpaper">
        <div *ngIf="!lightTheme" class="wallpaper-img-wrapper">
            <img class="wallpaper-img" src="assets/darkmode.webp" alt="">
        </div>
        <div *ngIf="lightTheme" class="wallpaper-img-wrapper">
            <img class="wallpaper-img" src="assets/daylight.png" alt="">
        </div>
    </div>
    <div *ngIf="!sizeState" class="small-screen">
        <div *ngIf="!lightTheme">
            <img src="assets/darkmode.webp" alt="">
        </div>
        <div *ngIf="lightTheme">
            <img src="assets/daylight.png" alt="">
        </div>
    </div>
</div> -->
<div class="login-page">
  <form
    *ngIf="!loadingState"
    action=""
    [formGroup]="loginForm"
    class="login-form"
    [style.width]="container_width"
    [style.height]="container_height"
    (ngSubmit)="loginUser()"
  >
    <div>
      <h1>Login</h1>
    </div>
    <mat-form-field
      class="form-field"
      appearance="outline"
      [style.width]="form_input_container_width"
      [style.height]="form_input_container_height"
      color="accent"
    >
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailInput" type="text" required />
      @if (emailInput.invalid) {
      <mat-error>{{ emailErrorMessage() }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field
      class="form-field"
      appearance="outline"
      [style.width]="form_input_container_width"
      [style.height]="form_input_container_height"
      color="accent"
    >
      <mat-label>Password</mat-label>
      <input matInput [formControl]="passwordInput" type="text" required />
      @if (passwordInput.invalid) {
      <mat-error>{{ passwordErrorMessage() }}</mat-error>
      }
    </mat-form-field>
    <div class="btn-container">
      @if (emailInput.invalid) {
      <button mat-raised-button color="warn" type="submit">Login</button>
      } @else {
      <button mat-raised-button color="primary" type="submit">Login</button>
      }
    </div>
  </form>
  <div
    *ngIf="loadingState"
    class="login-form"
    [style.width]="container_width"
    [style.height]="container_height"
  >
    <ngx-spinner
      class="spinner"
      size="small"
      template="<img src='assets/dragonspin.gif' />"
      [fullScreen]="false"
      bdColor="transparent"
    ></ngx-spinner>
  </div>
</div>
