/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Copperplate, Papyrus, sans-serif; */
  font-family: 'Besley', serif;
}

body {
  margin: 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  transition: background-image 0.3s ease;
}

body.light-cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url('/assets/daylight.png');
}

body.dark-cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('/assets/darkmode.webp');
}
