<div class="small-page">
  <div class="surfer-basic-info-container">
    <div class="profile-picture-container">
      <img class="img-element" [src]="surfer.profileImage" alt="" />
    </div>
    <div class="surfer-name-container">
      <h1>{{ surfer.name }}</h1>
    </div>
  </div>
  <div class="options-container">
    <button mat-raised-button color="primary" (click)="switchMode('crypto')">
      Crypto
    </button>
    <button mat-raised-button color="primary" (click)="switchMode('nfts')">
      NFTS
    </button>
    <button mat-raised-button color="primary" (click)="switchMode('notes')">
      NOTES
    </button>
  </div>
  <div *ngIf="currentMode === 'crypto'" class="current-mode-container">
    <div *ngIf="surferCryptoStatus === true">
        <surfer-crypto [surfer]="surfer" />
    </div>
    <div *ngIf="surferCryptoStatus === false">
        <h1>No Crypto</h1>
    </div>
  </div>
  <div *ngIf="currentMode === 'nfts'" class="current-mode-container">
    <surfer-nfts [surfer]="surfer" />
  </div>
  <div *ngIf="currentMode === 'notes'" class="current-mode-container">Notes</div>
</div>
