@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .card-background {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: mat.get-theme-color($theme, accent);
    opacity: 0.5;
    z-index: -1;
    // filter: blur(.5rem);
  }

  .user-post-card-component {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inner {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    color: mat.get-theme-color($theme, primary, text);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    // background-color: mat.get-theme-color($theme, accent, lighter);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
