@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .card-background {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: mat.get-theme-color($theme, primary);
    opacity: 0.5;
    z-index: -1;
    // filter: blur(.5rem);
  }

  .user-post-card-component {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inner {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    color: mat.get-theme-color($theme, primary, text);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-shadow: 0px 0px 7px 4px mat.get-theme-color($theme, accent);
    // background-color: mat.get-theme-color($theme, accent, lighter);
  }

  .inner>h6 {
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 2%;
    font-weight: 200;
  }

  .inner:hover {
    box-shadow: 0px 0px 7px 4px mat.get-theme-color($theme,  primary, lighter);
    transition: all 0.3s ease-in-out;
  }

  .inner>p {
    margin-left: 5%;
    margin-top: 2%;
    font-size: 15px;
  }

  .card-actions {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}