@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .card-background {
    // background-color: mat.get-theme-color($theme, accent, lighter);
    background-color: rgb(0, 8, 255);
    opacity: 0.5;
  }

  .user-post-card-component {
    background-color: rgb(0, 8, 255);
    position: relative;
    height: 10vh;
    // min-width: 20vw;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    // background-color: #ffffff;
    // background-color: mat.get-theme-color($theme, accent, lighter);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    color: mat.get-theme-color($theme, primary, text);
    //background-color: mat.get-theme-color($theme, primary, darker);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
