<div
  [ngStyle]="{
    height: '100%',
    width: '100%',
    display: 'flex',
    flexDirection: 'column',
    alignItems: displayAlign,
    justifyContent: 'center',
}"
>
  <h3>Find Users</h3>
  <!-- <form [formGroup]="searchForm" action="">
        <input type="text" formControlName="userinput" placeholder="Ex. theDarkNight" (keyup)="sendSearchRequest()">
    </form> -->
  <input #userSearch type="text" placeholder="Ex. Batman" />
</div>
<div
  *ngIf="searchIsActive"
  class="user-results"
  [style.width]="isBigScreen ? '45vw' : '100vw'"
>
  <div class="exit-btn-container">
    <button
      [ngStyle]="{ right: '1rem', height: '70%', width: '5rem' }"
      mat-raised-button
      color="danger"
      (click)="closeSearch()"
    >
      Exit
    </button>
  </div>
  <div
    class="user-list"
    [ngStyle]="{ display: loadingState ? 'none' : 'flex' }"
  >
    <div *ngIf="results" [style.position]="'relative'" [style.width]="'95%'" [style.height]="'100%'" [style.display]="'flex-start'" [style.overflow-y]="'auto'">
      <div *ngFor="let user of results; let i = index">
        <app-user-card
          [isLast]="i === results.length - 1 ? true : false"
          [user]="user"
          [profilePic]="user.profileImage"
          [name]="user.username"
          [email]="user.email"
          (closeSearch)="closeSearch()"
          (spinnerSwitchOn)="spinnerSwitchOn()"
          (spinnerSwitchOff)="spinnerSwitchOff()"
        />
      </div>
    </div>
  </div>
  <div *ngIf="results.length === 0" class="user-list">
    <div
      [ngStyle]="{
        position: 'relative',
        width: '100%',
        height: '10rem',
        display: 'flex', 
        flexDirection: 'column',
        alignItems: 'center',
        justifyContent: 'center',
      }"
    >
      <h2>No Users Found 🚫</h2>
    </div>
  </div>
  <div *ngIf="loadingState" class="user-list" [style.position]="'absolute'">
    <ngx-spinner
      class="spinner"
      size="small"
      template="<img src='../../../../../assets/bluedots-transparent.gif' />"
      [fullScreen]="false"
      bdColor="transparent"
    ></ngx-spinner>
  </div>
</div>
