<div class="chart-view">
  <div class="chart-view-container">
    <!-- ! Chart left section (Chart)-->
    <div class="chart-left-section">
      <!-- // Chart details container-->
      <div class="chart-details">
        <div class="img-name-container">
          <div class="chart-img-container">
            <img height="95%" src="{{ chosenCrypto.image.large }}" alt="" />
          </div>
          <div class="name-container">
            <h2>
              {{ chosenCrypto.name }}
            </h2>
          </div>
        </div>
        <div class="chart-data-container">
          <div class="grid-block">
            <h6>USD | ${{ chosenCrypto.market_data.current_price.usd }}</h6>
          </div>
          <div class="grid-block">
            <h6>
              24h Δ% |
              {{
                chosenCrypto.market_data.price_change_percentage_24h_in_currency
                  .usd
              }}%
            </h6>
          </div>
          <div class="grid-block">
            <h6>24h High | ${{ chosenCrypto.market_data.high_24h.usd }}</h6>
          </div>
          <div class="grid-block">
            <h6>24h Low | ${{ chosenCrypto.market_data.low_24h.usd }}</h6>
          </div>
        </div>
      </div>
      <!-- // ! Chart container-->
      <div class="chart-container">
        <div
          [ngStyle]="{ position: 'absolute', height: '100%', width: '100%' }"
        >
          <app-chart />
        </div>
      </div>
    </div>
    <!-- ! Chart right section (Info) -->
    <div class="right-section-container">
      <div class="data-exterior-container">
        <div class="data-header-container">
          <h3>What is {{ chosenCrypto.name }} ?</h3>
        </div>
        <div class="data-container">
          <small *ngIf="chosenCrypto.description.en">{{
            chosenCrypto.description.en
          }}</small>
          <small *ngIf="!chosenCrypto.description.en"
            >Information not available..</small
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="exit-container">
  <button mat-raised-button color="primary" (click)="closeChart.emit()">Exit</button>
</div>
