.chart-view {
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-view-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.chart-left-section {
  position: relative;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.12);
  /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18); */
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-starts;
  border-radius: 0.5rem;
}

.chart-details {
  position: relative;
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.img-name-container {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.2rem;
}

.chart-img-container {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name-container {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.chart-data-container {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  align-items: stretch;
}

.grid-block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-section-container {
  position: relative;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data-exterior-container {
  position: relative;
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.12);
}

.data-header-container {
  position: relative;
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.data-container {
  position: relative;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: .3rem;
  scrollbar-width: thin;
  scrollbar-color: darkgrey transparent;
}

.exit-container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}