@use 'sass:map';
@use '@angular/material' as mat;

.paginator-component {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container {
  position: relative;
  height: 30%;
  width: 100%;
  // background-color: rgb(3, 3, 36);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // gap: 10%;
}

.mat-form-field {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: red;
}

.crypto-table {
  position: relative;
  min-height: 30%;
  max-height: 70%;
  height: auto;
  width: 100%;
  overflow-y: auto;
  // background-color: rgb(3, 3, 36);
  // color: white;
}
.table {
  position: relative;
  height: 100%;
  width: 100%;
  // background-color: rgb(43, 63, 110);
}

.paginator-container {
  position: relative;
  height: auto;
  width: 100%;
}

.paginator {
  position: relative;
  height: 100%;
  width: 100%;
  /* background-color: lightblue; */
}

@mixin color($theme) {
  // .paginator-component {
  //   background-color: mat.get-theme-color($theme, primary, darker);
  // }
  // .input-container {
  //   background-color: mat.get-theme-color($theme, primary);
  // }
  .crypto-table {
    background-color: mat.get-theme-color($theme, primary);
    color: mat.get-theme-color($theme, accent, text);
  }
  .table {
    background-color: mat.get-theme-color($theme, primary, darker);
    color: mat.get-theme-color($theme, accent, text);
  }
  .paginator {
    // background-color: rgb(126, 159, 225);
    background-color: mat.get-theme-color($theme, primary);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
