@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .card-container {
    position: relative;
    height: 10vh;
    width: 100%;
    // background-color: mat.get-theme-color($theme, primary, lighter);
    color: mat.get-theme-color($theme, primary, text);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .img-container {
    position: relative;
    height: 100%;
    width: 25%;
  }

  .data-img {
    position: relative;
    height: 100%;
    width: auto;
    border-radius: 50%;
  }

  .coin-info {
    position: relative;
    height: 100%;
    width: 75%;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
