@use 'sass:map';
@use '@angular/material' as mat;

.user-profile-page {
  position: absolute;
  top: 10vh;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin color($theme) {
  .primary-page-theme {
    position: absolute;
    // top: 10vh;
    height: 90vh;
    width: 100vw;
    background-color: mat.get-theme-color($theme, primary, lighter);
    z-index: -1;
    opacity: 0.5;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}