<!-- Big Screen -->
<div *ngIf="isBigScreen" class="user-profile-page primary-page-theme">
  <user-large-page
    [chosenCrypto]="chosenCrypto"
    [chartState]="chartState"
    (closeChart)="closeChart()"
    (toggleSettings)="toggleSettings()"
    [settingState]="settingState"
    (toggleFriendsList)="toggleFriendsList()"
    [friendsListState]="friendsListState"
    (toggleFriendRequestList)="toggleFriendRequestList()"
    [friendRequestList]="friendRequestList"
    [userFriendRequestList]="userFriendRequestList"
    [user]="user"
    (updateUser)="updateUser()"
    [updateUserForm]="updateUserForm"
    (useCopresserOnImage)="useCopresserOnImage()"
    [cryptoCollection]="cryptoCollection"
    [nftCollection]="nftCollection"
    (toggleChart)="selectCryptoChart($event)"
    [collectionTypeToggle]="collectionTypeToggle"
    (toggleCollectionType)="toggleCollectionType()"
  />
</div>
<!-- ! Small Screen -->
<div
  *ngIf="!isBigScreen"
  class="user-profile-page component-theme"
  [style.flexDirection]="'column'"
>
  <app-small-page
    [chartToggler]="chartState"
    [chosenCrypto]="chosenCrypto"
    (closeChart)="this.closeChart()"
    (toggleSettings)="this.toggleSettings()"
    [settingState]="settingState"
    [user]="user"
    [profilePic]="profilePic"
    [collectionTypeToggle]="collectionTypeToggle"
    [cryptoCollection]="cryptoCollection"
    (toggleChart)="this.selectCryptoChart($event)"
    (toggleCollectionType)="toggleCollectionType()"
    [nftCollection]="nftCollection"
    (useCopresserOnImage)="useCopresserOnImage()"
    (updateUser)="updateUser()"
    [updateUserForm]="updateUserForm"
  />
</div>
