<!-- Big Screen -->
<div *ngIf="isBigScreen" class="user-profile-page">
  <user-large-page
  [chosenCrypto]="chosenCrypto"
  [chartState]="chartState"
  (closeChart)="closeChart()"
  (toggleSettings)="toggleSettings()"
  [settingState]="settingState"
  [user]="user"
  (updateUser)="updateUser()"
  [updateUserForm]="updateUserForm"
  (useCopresserOnImage)="useCopresserOnImage()"
  [cryptoCollection]="cryptoCollection"
  [nftCollection]="nftCollection"
  (toggleChart)="selectCryptoChart($event)"
  [collectionTypeToggle]="collectionTypeToggle"
  (toggleCollectionType)="toggleCollectionType()"
/>
</div>
<!-- ! Small Screen -->
<div
  *ngIf="!isBigScreen"
  class="user-profile-page"
  [style.flexDirection]="'column'"
>
  <app-small-page
    [chartToggler]="chartState"
    [chosenCrypto]="chosenCrypto"
    (closeChart)="this.closeChart()"
    (toggleSettings)="this.toggleSettings()"
    [settingState]="settingState"
    [user]="user"
    [collectionTypeToggle]="collectionTypeToggle"
    [cryptoCollection]="cryptoCollection"
    (toggleChart)="this.selectCryptoChart($event)"
    (toggleCollectionType)="toggleCollectionType()"
    [nftCollection]="nftCollection"
    (updateUser)="updateUser()"
    [updateUserForm]="updateUserForm"
  />
</div>
