.user-profile-page {
  height: 90vh;
  width: 100%;
  background-color: rgb(21, 21, 31);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow-y: scroll;
}

.vertical-line {
  border-left: 1px solid lightblue;
  height: 80%;
}

.left-section {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.img-container {
  height: 25%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color:lightblue;
  border-width: thin;
}

.user-info-container {
  height: 45%;
  width: 75%;
  border-style: solid;
  border-color:lightblue;
  background-color: black;
  border-width: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.info-settings{
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.settings-btn {
  height: 60%;
  width: 5%;
  margin-right: .5rem;
}

.user-info-wrapper {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-info-box {
  height: 80%;
  width: 50%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.user-info-line {
  background-color: rgb(10, 12, 48);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.settings-wrapper {
  height: 90%;
  width: 100%;
}

.form-container {
  height: 100%;
  width: 100%;
  background-color: rgb(34, 68, 104);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-inner-container {
  height: 90%;
  width: 75%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
}

.right-section {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.crypto-list-container {
    height: 75%;
    width: 75%;
    border-style: solid;
    border-width: thin;
    border-color: lightblue;
}

.mycrypto-container{
  background-color: rgb(64, 75, 108);
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.random-numbers {
  background-color: blue;
  height: 50%;
  width: 100%;
}
