<div *ngIf="isBigScreen" class="user-profile-page">
    <div class="left-section">
        <div class="img-container">
            <h4>Img feature coming soon... 🔮</h4>
        </div>
        <div class="user-info-container">
            <div class="info-settings">
                <!-- <button (click)="toggleSettings()">Update</button> -->
                <button class="settings-btn" (click)="toggleSettings()" mat-raised-button
                    color="primary">Update</button>
            </div>
            <div *ngIf="!settingState" class="user-info-wrapper">
                <div class="user-info-box">
                    <div class="user-info-line">
                        <h4>Username: </h4>
                        <h4>{{ user.username }}</h4>
                    </div>
                    <div class="user-info-line">
                        <h4>Name: </h4>
                        <h4>{{user.name}}</h4>
                    </div>
                </div>
            </div>
            <div *ngIf="settingState" class="settings-wrapper">
                <form [formGroup]="updateUserForm" action="" class="form-container" (ngSubmit)="updateUser()">
                    <div class="form-inner-container">
                        <input [formControl]="usernameControl" placeholder="Username" type="text">
                        <input [formControl]="nameControl" placeholder="Name" type="text">
                        <input placeholder="Email" type="text">
                        <button type="submit" mat-raised-button color="primary">Submit</button>
                    </div>
                </form>
                {{ usernameControl.value }} {{ nameControl.value }}
            </div>
        </div>
    </div>
    <div class="vertical-line"></div>
    <div class="right-section">
        <div class="collectionType-container">
            <h2 *ngIf="!collectionTypeToggle">Crypto Collection</h2>
            <h2 *ngIf="collectionTypeToggle">NFT Collection</h2>
        </div>
        <div class="crypto-list-container">
            <div *ngIf="!collectionTypeToggle" class="mycrypto-container">
                <div *ngFor="let singleCoin of cryptoCollection">
                    <app-crypto-card [crypto]="singleCoin" />
                </div>
            </div>
            <div *ngIf="collectionTypeToggle" class="mycrypto-container">
                <div *ngFor="let singleCoin of nftCollection">
                    <app-crypto-card [crypto]="singleCoin" />
                </div>
            </div>
        </div>
        <div class="right-button-container">
            <button *ngIf="!collectionTypeToggle" class="btn collection-btn" (click)="toggleCollectionType()">NFT
                Collection</button>
            <button *ngIf="collectionTypeToggle" class="btn collection-btn" (click)="toggleCollectionType()">Crypto
                Collection</button>
        </div>
    </div>
</div>
<!-- ! Small Screen -->
<div *ngIf="!isBigScreen" class="user-profile-page" [style.flexDirection]="'column'">
    <div [ngStyle]="{
        'height': '100%',
        'width': '100%',
    }">
        <div [ngStyle]="{
        'display': 'flex',
        'flexDirection': 'column',
        'alignItems': 'center',
        'justifyContent': 'center',
        'overflowY': 'scroll',
        'gap': '4rem',
        }">
            <div class="img-container" [style.height]="'10rem'" [style.marginTop]="'2rem'">
                <h4>Img feature coming soon... 🔮</h4>
            </div>
            <!-- ! User Info Container -->
            <div class="user-info-container" [style.height]="'20rem'">
                <div class="info-settings">
                    <button class="settings-btn" (click)="toggleSettings()" mat-raised-button
                        color="primary">Update</button>
                </div>
                <div *ngIf="!settingState" class="user-info-wrapper">
                    <div class="user-info-box">
                        <div class="user-info-line">
                            <h4>Username: </h4>
                            <h4>{{ user.username }}</h4>
                        </div>
                        <div class="user-info-line">
                            <h4>Name: </h4>
                            <h4>{{user.name}}</h4>
                        </div>
                    </div>
                </div>
                <!-- ! User Info Editing  -->
                <div *ngIf="settingState" class="settings-wrapper">
                    <form [formGroup]="updateUserForm" action="" class="form-container" (ngSubmit)="updateUser()">
                        <div class="form-inner-container">
                            <input [formControl]="usernameControl" placeholder="Username" type="text">
                            <input [formControl]="nameControl" placeholder="Name" type="text">
                            <input placeholder="Email" type="text">
                            <button type="submit" mat-raised-button color="primary">Submit</button>
                        </div>
                    </form>
                    {{ usernameControl.value }} {{ nameControl.value }}
                </div>
            </div>
            <!-- <div class="crypto-list-container" [style.height]="'30rem'" [style.marginBottom]="'2rem'">
                <div *ngIf="!collectionTypeToggle" class="mycrypto-container">
                    <div *ngFor="let singleCoin of cryptoCollection">
                        <app-crypto-card [crypto]="singleCoin" />
                    </div>
                </div>
                <div *ngIf="collectionTypeToggle" class="mycrypto-container">
                    <div *ngFor="let singleCoin of nftCollection">
                        <app-crypto-card [crypto]="singleCoin" />
                    </div>
                </div>
            </div> -->
            <div class="collectionConainer">
                <div class="collectionType-container">
                    <h2 *ngIf="!collectionTypeToggle">Crypto Collection</h2>
                    <h2 *ngIf="collectionTypeToggle">NFT Collection</h2>
                </div>
                <div class="crypto-list-container">
                    <div *ngIf="!collectionTypeToggle" class="mycrypto-container">
                        <div *ngFor="let singleCoin of cryptoCollection">
                            <app-crypto-card [crypto]="singleCoin" />
                        </div>
                    </div>
                    <div *ngIf="collectionTypeToggle" class="mycrypto-container">
                        <div *ngFor="let singleCoin of nftCollection">
                            <app-crypto-card [crypto]="singleCoin" />
                        </div>
                    </div>
                </div>
                <div class="right-button-container">
                    <button *ngIf="!collectionTypeToggle" class="btn collection-btn"
                        (click)="toggleCollectionType()">NFT
                        Collection</button>
                    <button *ngIf="collectionTypeToggle" class="btn collection-btn"
                        (click)="toggleCollectionType()">Crypto
                        Collection</button>
                </div>
            </div>
        </div>
    </div>
</div>