<div class="home-background-top"></div>
<div class="big-screen">
  <div class="top-trending-section">
    <div class="title-container">
      <h2>Trending {{ selectedContent }}</h2>
    </div>
    <div class="top-trending-outer-layer">
      <div *ngIf="!trendingContent_state" class="top-trending-inner-layer">
        <div *ngFor="let coin of crypto$ | async">
          <app-card
            [collectionClassification]="'crypto'"
            [dataImage]="coin.item.large"
            [dataName]="coin.item.name"
            [dataMarketCapRank]="coin.item.market_cap_rank"
            [coinId]="coin.item.id"
            [cryptosCollection]="cryptoCollection"
            [nftCollection]="nftCollection"
          />
        </div>
      </div>
      <!-- //! class="listt-container" -->
      <div *ngIf="trendingContent_state" class="top-trending-inner-layer">
        <div *ngFor="let nft of nfts$ | async">
          <app-card
            [collectionClassification]="'nft'"
            [dataImage]="nft.thumb"
            [dataName]="nft.name"
            [coinId]="nft.id"
          />
        </div>
      </div>
      <div class="top_trending_options_container">
        <!-- <button *ngIf="!trendingContent_state" (click)="toggleContentState()"
                    class="toggleButton btn">NFTS</button> -->
        <button
          *ngIf="!trendingContent_state"
          (click)="toggleContentState()"
          mat-raised-button
          color="accent"
        >
          NFTS
        </button>
        <button
          *ngIf="trendingContent_state"
          (click)="toggleContentState()"
          mat-raised-button
          color="accent"
        >
          CRYPTO
        </button>
      </div>
    </div>
  </div>
  <div class="paginator-container">
    <app-paginator
      [ngStyle]="{
        height: '100%',
        width: '100%',
        display: 'flex',
        flexDirection: 'column',
        alignItems: 'center',
        justifyContent: 'center'
      }"
    />
    <!-- <app-paginator /> -->
  </div>
</div>
