@use 'sass:map';
@use '@angular/material' as mat;

.big-screen {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.top-trending-container {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title-container {
  height: 10%;
  width: auto;
  /* background-color: aqua; */
  color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.top-trending {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top_trending_options_container {
  position: absolute;
  height: 36%;
  width: 10vw;
  right: 0;
  top: 12vh;
  /* border-width: thin;
    border-style: solid;
    border-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.listt-container {
  /* height: 40%;
    width: 70%; */
  color: black;
  /* background-color: rgb(3, 3, 36); */
  border-radius: 1rem;
  border-style: solid;
  border-width: thin;
  border-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 8rem;
}

@mixin color($theme) {
  .listt-container {
    // background-color: rgb(126, 159, 225);
    background-color: mat.get-theme-color($theme, primary);
    color: mat.get-theme-color($theme, primary, text);
  }

  .table {
    background-color: mat.get-theme-color($theme, primary);
    color: mat.get-theme-color($theme, primary, text);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}

.paginator-container {
  position: relative;
  height: 50%;
  /* min-height: 60vh; */
  width: 80%;
  /* min-width: 100vw; */
  /* background-color: rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* .crypto-table-contianer {
    position: relative;
    height: 90%;
    width: 100%;
    background-color:  red;
    overflow: auto;
  } */

.crypto-table {
  position: relative;
  height: 90%;
  width: 100%;
  overflow-y: auto;
}

.table {
  position: relative;
  height: 100%;
  width: 100%;
  // background-color: rgb(3, 3, 36);
}

.toggleButton {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 2rem;
  width: 6rem;
  border-radius: 0.5rem;
  background-color: rgb(71, 134, 155);
  color: darkblue;
  border-style: solid;
  border-width: thin;
  border-color: blue;
}

.spinner {
  height: 50%;
  width: 50%;
  position: relative;
  border-radius: 1rem;
}

/* // Small Screen */
.small-screen-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
