<div class="big-screen">
    <div class="top-trending-container" class="top-trending-container">
        <div class="title-container">
            <img height="100%" src="../../../../../../assets/fire4.gif" alt="">
            <h2>
                Trending {{selectedContent}}
            </h2>
            <img height="100%" src="../../../../../../assets/fire4.gif" alt="">
        </div>
        <div class="top-trending">
            <div *ngIf="!trendingContent_state" class="listt-container" [ngStyle]="{
                    'display': 'flex',
                    'height': '100%', 
                    'width': '80%',
                    'flexDirection': 'row',
                    'overflowY': 'hidden',
                    'overflowX': 'scroll',
                }">
                <div *ngFor="let coin of crypto$ | async">
                    <app-card [collectionClassification]="'crypto'" [dataImage]="coin.item.large"
                        [dataName]="coin.item.name" [dataMarketCapRank]="coin.item.market_cap_rank"
                        [coinId]="coin.item.id" [cryptosCollection]="cryptoCollection" [nftCollection]="nftCollection"/>
                </div>
            </div>

            <div *ngIf="trendingContent_state" class="listt-container" [ngStyle]="{
                    'display': 'flex',
                    'height': '100%', 
                    'width': '80%',
                    'flexDirection': 'row',
                    'overflowY': 'hidden',
                    'overflowX': 'scroll',
                }">
                <div *ngFor="let nft of nfts$ | async">
                    <app-card [collectionClassification]="'nft'" [dataImage]="nft.thumb" [dataName]="nft.name"
                        [coinId]="nft.id" />
                </div>
            </div>
            <div class="top_trending_options_container">
                <button *ngIf="!trendingContent_state" (click)="toggleContentState()"
                    class="toggleButton btn">NFTS</button>
                <button *ngIf="trendingContent_state" (click)="toggleContentState()"
                    class="toggleButton btn">CRYPTO</button>
            </div>
        </div>
    </div>
    <div class="paginator-container">
        <app-paginator [ngStyle]="{height: '100%', width: '100%'}" />
    </div>
</div>