.crypto-overlay-container {
  position: absolute; 
  top: 10%;
  right: 0;
  z-index: 99999;
  height: 25vh;
  max-height: 35vh;
  width: 25vw;
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.crypto-overlay-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(10px);
  z-index: 99;
  margin-top: 1rem;
}

.crypto-overlay-foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.crypto-image-container {
  position: relative;
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.crypto-image {
  border-radius: 50%;
  height: 50%;
}

.crypto-name-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: unset;
}

.crypto-name {
  color: white;
  font-size: 1.5rem; /* Or whatever you prefer */
  text-align: center; /* Optional, for better centering */
  word-break: break-word; /* Breaks long words if needed */
  white-space: normal; /* Allows wrapping */
  max-width: 100%;
}

/* Additional blurred background */
.chart-blur-background {
  position: absolute;
  top: 7rem;
  height: 25vh;
  width: 25vw;
  filter: blur(10px);
  z-index: 99999;
}

/* Chart content overlay */
.chart-overlay {
  position: absolute;
  top: 7rem;
  height: 25vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.chart-container {
  height: 100%;
  width: 100%;
}
