/* .crypto-overlay-container {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 99999;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.crypto-overlay-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(10px);
  z-index: -1;
  margin-top: 1rem;
}

.crypto-overlay-foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.crypto-image-container {
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.crypto-image {
  border-radius: 50%;
  height: 50%;
}

.crypto-name-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: unset;
}

.crypto-name {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  max-width: 100%;
}

.chart-overlay {
  position: absolute;
  top: 20%;
  height: 25vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.chart-container {
  position: relative;
  height: 100%;
  width: 100%;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-blur-background {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0.5rem;
  z-index: 1;
}

.app-chart {
  position: relative;
  z-index: 2;
}

@media (min-width: 700px) {
  .crypto-overlay-container {
    position: absolute;
    background-color: rgb(4, 255, 0);
    top: 10%;
    right: 0;
    z-index: 99999;
    height: 25vh;
    max-height: 35vh;
    width: 25vw;
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .chart-overlay {
  position: absolute;
  top: 20%;
  height: 25vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
} */

.crypto-overlay-container {
  position: absolute; 
  top: 10%;
  right: 0;
  z-index: 99999;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.crypto-overlay-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(10px);
  z-index: 99;
  margin-top: 1rem;
}

.crypto-overlay-foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.crypto-image-container {
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.crypto-image {
  border-radius: 50%;
  height: 50%;
}

.crypto-name-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: unset;
}

.crypto-name {
  color: white;
  font-size: 1.5rem; 
  text-align: center;
  word-break: break-word;
  white-space: normal;
  max-width: 100%;
}

.chart-overlay {
  position: absolute;
  top: 20%;
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.chart-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.chart-blur-background {
  position: absolute;
  inset: 0; 
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); 
  border-radius: 0.5rem; 
  z-index: 1; 
}

.app-chart {
  position: relative;
  z-index: 2; 
}

@media (min-width: 700px) {
  .crypto-overlay-container {
  position: absolute; 
  top: 10%;
  right: 0;
  z-index: 99999;
  height: 25vh;
  max-height: 35vh;
  width: 25vw;
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.crypto-overlay-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(10px);
  z-index: 99;
  margin-top: 1rem;
}

.crypto-overlay-foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.crypto-image-container {
  position: relative;
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.crypto-image {
  border-radius: 50%;
  height: 50%;
}

.crypto-name-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: unset;
}

.crypto-name {
  color: white;
  font-size: 1.5rem; 
  text-align: center;
  word-break: break-word;
  white-space: normal;
  max-width: 100%;
}

/* .chart-overlay {
  position: absolute;
  top: 7rem;
  height: 25vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999;
} */

.chart-overlay {
    top: 7rem;
    height: 20vh; /* smaller chart height */
    width: 20vw;  /* smaller chart width */
  }

.chart-container {
  position: relative;
  height: 100%;
  width: 100%;
}


.chart-blur-background {
  position: absolute;
  inset: 0; 
  background-color: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); 
  border-radius: 0.5rem; 
  z-index: 1; 
}

.app-chart {
  position: relative;
  z-index: 2; 
}
}
