@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .register-page {
    height: 90vh;
    width: 100%;
    background-color: mat.get-theme-color($theme, primary, lighter);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .register-form {
    position: relative;
    background-color: mat.get-theme-color($theme, primary);
    color: mat.get-theme-color($theme, accent, text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    border-style: solid;
    border-width: thin;
    border-color: mat.get-theme-color($theme, accent, lighter);
    box-shadow: mat.get-theme-color($theme, accent, lighter) 0px 0px 25px 10px;
  }

  .form-field {
    height: auto;
    width: 50%;
  }

  .btn-container {
    height: 20%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .spinner {
    height: 50%;
    width: 50%;
    position: absolute;
    border-radius: 1rem;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
