<div class="register-page">
    <form *ngIf="!loadingState" action="" [formGroup]="registerForm" class="register-form" (ngSubmit)="registerUser()">
        <div>
            <h1>
                Register
            </h1>
        </div>
        <div class="form-input-container">
            <div class="form-input">
                <label class="input-label" for="email">Email</label>
                <input id="email" class="input-box" placeholder="Email" name="email" type="text"
                    [formControl]="emailControl">
            </div>
            <div class="input-errors">
                <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">Email is required
                </div>
            </div>
        </div>
        <div class="form-input-container">
            <div class="form-input">
                <label class="input-label" for="email">Password</label>
                <input class="input-box" placeholder="Password" [formControl]="passwordControl" type="text" required>
            </div>
            <div class="input-errors">
                <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">Password is
                    required
                </div>
            </div>
        </div>
        <div class="btn-container">
            <button class="submit-btn" type="submit">Register</button>
        </div>
    </form>
    <div class="register-form" *ngIf="loadingState">
        <ngx-spinner 
            class="spinner"
            size="medium" 
            template="<img src='../../../assets/805.gif' />" 
            [fullScreen] = "false"
            bdColor="rgba(1, 1, 1, 1)"
        ></ngx-spinner>
    </div>
</div>