.nav-page {
    height: 10vh;
    width: 100%;
    background-color: black;
    color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.menu {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.settingsTab {
    position: absolute;
    height: 90vh;
    width: 50%;
    background-color: black;
    color: lightblue;
    z-index: 99;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}