.card-container {
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

.card-background-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.35;
  background-size: 700%; /* zoom */
  background-position: 50% 50%; /* focus area */
  background-repeat: no-repeat;
}

.name-price-container {
  position: absolute;
  top: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.data-name {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.data-name span {
  display: inline-block;
  height: 80%;
  width: auto;
  max-width: 100%;
}

.data-img-container {
  /* background-color: red; */
  position: relative;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data-img-element {
  /* margin-top: 2rem; */
  background-color: black;
  height: 70%;
  width: auto;
  border-radius: 50%;
  box-shadow: rgb(84, 145, 211) 0px 0px 7px 4px;
}

.button-options {
  position: relative;
  /* background-color: black; */
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
