<!-- ! Crypto Cart -->
<div *ngIf="dataType === 'crypto' && primaryData" class="card-container">
  <div
    class="card-background-container"
    [style.background-image]="'url(' + primaryData.image.large + ')'"
  ></div>
  <div class="name-price-container">
    <div class="data-name">
      <span>
        <h1 *ngIf="primaryData.name">{{ primaryData.name }}</h1>
        <h1 *ngIf="!primaryData.name">{{ primaryData.id }}</h1>
      </span>
    </div>
    <div
      *ngIf="primaryData.market_data"
      [ngStyle]="
        {
          height: '20%',
          display: 'flex',
          flexDirection: 'column',
          alignItems: 'center',
          justifyContent: 'center',
        }
      "
    >
      <h4>Price: ${{ primaryData.market_data.current_price.usd }}</h4>
    </div>
  </div>
  <div class="data-img-container">
    <img class="data-img-element" src="{{ primaryData.image.large }}" alt="" />
  </div>
  <div class="button-options">
    <button
      mat-raised-button
      color="primary"
      class="btn-style"
      (click)="getChartData(primaryData.id)"
    >
      Chart
    </button>
    <button
      mat-raised-button
      color="warn"
      class="btn-style"
      (click)="removeCrypto(primaryData.id)"
    >
      Delete
    </button>
  </div>
</div>

<!-- ! NFT Cart -->

<div *ngIf="dataType === 'nft'" class="card-container">
  <div
    class="card-background-container"
    [style.background-image]="'url(' + nftData.image.small + ')'"
  ></div>
  <div class="name-price-container">
    <div class="data-name">
      <span>
        <h1>{{ nftData.name }}</h1>
      </span>
    </div>
    <div
      [ngStyle]="
        {
          height: '20%',
          display: 'flex',
          flexDirection: 'column',
          alignItems: 'center',
          justifyContent: 'center',
        }
      "
    >
      <h4>Price: {{ nftData.floor_price.usd }}</h4>
    </div>
  </div>
  <div class="data-img-container">
    <img
      class="data-img-element"
      src="{{ nftData.image ? nftData.image.small : '' }}"
      alt=""
    />
  </div>
  <div class="button-options">
    <button
      mat-raised-button
      color="warn"
      (click)="removeCrypto(nftData.id)"
    >
      Delete
    </button>
  </div>
</div>
