.card-container {
  scroll-snap-align: start;
  position: relative;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.55),
}

.name-price-container {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom-style: solid;
  border-width: thin;
  border-color: blue;
  background-color: rgba(0, 0, 0, 0.325);
}

.data-img-container {
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-img-element {
  margin-top: 2rem;
  height: 50%;
  width: auto;
  border-radius: 50%;
}

.button-options {
    height: 12%;
    width: auto;
    min-width: 25%;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn-style {
    height: 70%;
    width: auto;
    max-width: 40%;
}
