<div class="landing-page">
    <div class="title-container" [style.width]="title_container_width" [style.height]="title_container_height">
        <h1>CryptoZapp</h1>
        <h3>See the market, make your list, and share it.</h3>
    </div>
    <div class="crpyoinfo-container" [style.width]="crpyoinfo_container_width" [style.height]="crpyoinfo_container_height">
        Crypto allows you to actually own your money. With that out of the way, it is valuable to know that this
        ownership comes with benifits. Basically it allows you to do what your traditional bank does to make money, but
        using with your money and with out your
        knowledge. Your Permssion? They dont need it.
    </div>
</div>