<div class="landing-page background-theme-color">
  <img
    *ngIf="titleFontSize"
    class="cover-img-small"
    src="https://s7d2.scene7.com/is/image/TWCNews/nyc_lightning_strike1280x720esbgettyimages-629353120png"
    alt=""
  />
  <img
    *ngIf="!titleFontSize"
    class="cover-img-large"
    src="https://s7d2.scene7.com/is/image/TWCNews/nyc_lightning_strike1280x720esbgettyimages-629353120png"
    alt=""
  />
  <div
    *ngIf="titleFontSize"
    class="title-container container-color"
    [style.width]="title_container_width"
    [style.height]="title_container_height"
  >
    <h1>CryptoZapp</h1>
    <h4 [style.paddingLeft]="'1rem'" [style.paddingRight]="'1rem'">
      See the market, make your list, and share it.
    </h4>
  </div>
  <div
    *ngIf="!titleFontSize"
    class="title-container container-color"
    [style.width]="title_container_width"
    [style.height]="title_container_height"
  >
    <h1>CryptoZapp</h1>
    <h3>See the market, make your list, and share it.</h3>
  </div>
  <div class="carousel-container">
    <carousel
      [pauseOnHover]="true"
      [loop]="true"
      [borderRadius]="200"
      [cellWidth]="1200"
      [overflowCellsLimit]="7"
      [autoplay]="true"
      [height]="carouselHeight"
      [width]="carouselWidth"
      [margin]="50"
      [cellsToShow]="cellsToShow"
      [autoplayInterval]="6000"
      [transitionDuration]="800"
      transitionTimingFunction="ease-in-out"
      [arrowsOutside]="true"
      [arrows]="true"
    >
      <div
        *ngFor="let item of trending_cryptos"
        class="carousel-cell"
        [ngStyle]="{
          position: 'absolute',
          height: '100%',
          width: '100%',
          display: 'flex',
          flexDirection: 'column',
          alignItems: 'center',
          justifyContent: 'center',
          backgroundColor: 'transparent',
        }"
      >
        <app-carousel-element
          (click)="keepActive()"
          (mouseenter)="toggleChart(true); setName(item.item)"
          (mouseleave)="toggleChart(false)"
          [Item]="item"
          [name]="item.name"
          [cryptoImg]="item.item.large"
        />
      </div>
    </carousel>
  </div>
  <div
    class="crpyoinfo-container container-color"
    [style.width]="crpyoinfo_container_width"
    [style.height]="crpyoinfo_container_height"
  >
    <p>
      Crypto allows for self custody of global trasferable energy that is not
      devauled by centralized entities and cannot be used for data collection
      for the benifit of these centralized entites such as banks that closly
      study the buying habits of people for they're investment decisions, but
      claim to do it for the safety of the people. Crypto is a mechanisim that
      values the time and therfore lives of people by allowing them to opt out
      of a rigged system that keeps people traped in a life long cycle of work
      by devaluing they're hard earned cash. Infinite work means infinite
      products and therfore, infinite polution and landfills. Centralized
      authorities are betting future generations will be wiser in order to solve
      the increaing debt problem but the education system is not improving,
      which means hard earned cash will continue to be devalued, and if you want
      to invest it, it will be in a product that will further increase
      pollution.
    </p>
    <p>
      Investing in crypto means you take responsibility for where your money
      should be at any given time based on market sentiment, news, and your
      interests. In other words, its the freedom to own your money with no
      strings attached. Central entites have proven over and over again that
      they will send us to war regaurdless of how far the human race has come by
      using theyre control on the money to control the common citizen,
      preventing them from escaping with they're cash which is earned by endless
      contributions to society. Trust no one. Validate.
    </p>
  </div>
</div>
<div *ngIf="miniChartState || chartActiveState">
  <div
    [ngStyle]="{
      position: 'absolute',
      top: 10,
      right: 0,
      zIndex: '99999',
      marginTop: '1rem',
      height: '25vh',
      width: '25vw',
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      justifyContent: 'center',

    }"
  >
    <!-- backgroundColor: 'rgba(57, 57, 96, 0.5)', -->
    <div
      [ngStyle]="{
      position: 'absolute',
      height: '100%',
      width: '100%',
      
      filter: 'blur(10px)',
      zIndex: '99',
      marginTop: '1rem',
    }"
    ></div>
    <div
      [ngStyle]="{ position: 'absolute', height: '100%', width: '100%', zIndex: '999999', display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'space-around', }"
    >
      <div
        [ngStyle]="{
          position: 'relative',
          height: '50%',
          width: '80%',
          display: 'flex',
          flexDirection: 'column',
          alignItems: 'flex-end',
          justifyContent: 'center'
        }"
      >
        <img
          [src]="cryptoimg"
          alt=""
          height="50%"
          [ngStyle]="{ borderRadius: '50%' }"
        />
      </div>
      <div
        [ngStyle]="{
          height: '50%',
          width: '100%',
          display: 'flex',
          flexDirection: 'column',
          alignItems: 'center',
          justifyContent: 'flex-start'
        }"
      >
        <h1 [ngStyle]="{ color: 'white' }">{{ cryptoName }}</h1>
      </div>
    </div>
  </div>
  <div
    [ngStyle]="{
      position: 'absolute',
      top: '7rem',
      height: '25vh',
      width: '25vw',
      
      filter: 'blur(10px)',
      zIndex: '99999',
    }"
  ></div>
  <div
    [ngStyle]="{
      position: 'absolute',
      top: '7rem',
      height: '25vh',
      width: '25vw',
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
      justifyContent: 'center',
      zIndex: '99999',
    }"
  >
    <div
      [ngStyle]="{
        height: '100%',
        width: '100%'
      }"
    >
      <app-chart />
    </div>
  </div>
</div>
