// src/styles/_light-ocean.palette.scss
$md-ocean: (
  50: #e0e3e622,
  100: #b3b8c0,
  200: #8089961a,
  300: #4d5a6b,
  400: #26364c,
  500: #00132c23,
  600: #001127,
  700: #000e21,
  800: #000b1b,
  900: #000610,
  A100: #d8ecff,
  A200: #0077e5,
  A400: #004483,
  A700: #001326,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
