// src/styles/_custom-palettes.scss

$md-dream: (
  50:  #e8eaf7,
  100: #c4caeb,
  200: #9da8dc,
  300: #7686cd,
  400: #576cc2,
  500: #3752b7,
  600: #314aad,
  700: #2740a1,
  800: #1f3695,
  900: #0e2480,
  A100: #9da8dc,  // light accent
  A200: #7686cd,  // mid accent
  A400: #576cc2,  // darker accent
  A700: #314aad,  // darkest accent
  lighter: 400,
  darker: 800,
  default: 500,
  contrast: (
    50:  rgba(0,0,0,0.87),
    100: rgba(0,0,0,0.87),
    200: rgba(0,0,0,0.87),
    300: rgba(255,255,255,1),
    400: rgba(255,255,255,1),
    500: rgba(255,255,255,1),
    600: rgba(255,255,255,1),
    700: rgba(255,255,255,1),
    800: rgba(255,255,255,1),
    900: rgba(255,255,255,1),
    A100: rgba(0,0,0,0.87),
    A200: rgba(255,255,255,1),
    A400: rgba(255,255,255,1),
    A700: rgba(255,255,255,1),
  )
);
