$md-lake: (
  50:  #e3f5f9,
  100: #b9e6ef,
  200: #90d5e6,
  300: #6fc4dc,
  400: #5cb8d7,
  500: #4facd2,
  600: #479ec4,
  700: #3d8bb1,
  800: #397a9e,
  900: #2d5b7b,
  A100: #90d5e6,  // light accent
  A200: #6fc4dc,  // mid accent
  A400: #5cb8d7,  // darker accent
  A700: #397a9e,  // darkest accent
  lighter: 200,
  darker: 800,
  default: 800,
  contrast: (
    50:  rgba(0,0,0,0.87),
    100: rgba(0,0,0,0.87),
    200: rgba(0,0,0,0.87),
    300: rgba(0,0,0,0.87),
    400: rgba(0,0,0,0.87),
    500: rgba(255,255,255,1),
    600: rgba(255,255,255,1),
    700: rgba(255,255,255,1),
    800: rgba(255,255,255,1),
    900: rgba(255,255,255,1),
    A100: rgba(0,0,0,0.87),
    A200: rgba(255,255,255,1),
    A400: rgba(255,255,255,1),
    A700: rgba(255,255,255,1),
  )
);