$md-primary: (
  50:  #e8eaf7,
  100: #c4caeb,
  200: #9ca8dd,
  300: #7586cf,
  400: #556bc5,
  500: #3451bb,
  600: #2e49b1,
  700: #233fa5,
  800: #1a3599,
  900: #042384,

  A100: #c7d2ff,
  A200: #8fa2ff,
  A400: #5a73ff,
  A700: #2e49ff,

  contrast: (
    50:  #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
