<div class="surfer-superior">
  <!-- //! - Top - Box -->
  <div *ngIf="surfer" class="primary-content-container">
    <div class="primary-liquid"></div>
    <div
      class="surfer-general-data"
    >
      <surfer-basic-info
        [ngStyle]="{ height: '95%', width: '95%' }"
        [surfer]="surfer"
        (toggleNotes)="toggleNotes.emit()"
      />
    </div>
  </div>
  <!-- // Bottom Section toggle between Crypto, NFTs, Notes -->
  <div class="secondary-content-container">
    <div class="primary-liquid"></div>
    <!-- // CRYPTO -->
    <div *ngIf="surferCryptoStatus === true" class="surfer-crypto">
      <surfer-crypto
        [ngStyle]="{ height: '80%', width: '80%', scrollBarColor: 'auto' }"
        [surfer]="surfer"
      />
    </div>
    <div *ngIf="surferCryptoStatus === false && !surfer.cryptos || surfer.cryptos?.length === 0" class="surfer-crypto">
      <div>
        <h1>No Cryptos</h1>
      </div>
    </div>
    <!-- // NOTES -->
    <div
      *ngIf="noteDisplayState && surferPostStatus"
      class="surfer-notes-container"
    >
      <div *ngFor="let note of surfer.posts">
        {{ note.description }}
      </div>
    </div>
    <!-- // NO NOTES -->
    <div
      *ngIf="noteDisplayState && !surferPostStatus"
      class="surfer-notes-container"
    >
      <h1>No Notes</h1>
    </div>
  </div>
</div>
