<div class="crypto-card" [ngStyle]="{
    height: !isLargeScreen ? '35vh' : '25vh',
    width: !isLargeScreen ? '70vw' : '35vw'
}">
    <div class="img-container">
        <img *ngIf="crypto.image" src="{{crypto.image.small}}" alt="">
    </div>
    <div class="crypto-data-container">
        <h2 *ngIf="crypto.name">{{crypto.name}}</h2>
        <div *ngIf="crypto.market_data">Price USD: {{crypto.market_data.current_price.usd}}</div>
        <div *ngIf="crypto.coingecko_rank">Coin Gecko Rank: {{crypto.coingecko_rank}}</div>
        <div *ngIf="crypto.collectionId">Collection Number: {{crypto.collectionId}}</div>
    </div>
    <div class="user-options">
        <button class="delete-btn" (click)="removeCrypto()"
            [style.width]="!isLargeScreen ? '25%' : '10%'">Remove</button>
    </div>
</div>