@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .crypto-card {
    box-shadow: mat.get-theme-color($theme, accent) 0px 0px 7px 4px;
  }

  .crypto-card:hover {
    box-shadow: mat.get-theme-color($theme, accent) 0px 0px 12px 7px;
  }

  .img-element {
    box-shadow: mat.get-theme-color($theme, accent) 0px 0px 15px 3px;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}

.crypto-card {
  position: absolute;
  z-index: 1;
  height: 20vh;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  transition: height 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.crypto-card.expanded {
  height: 40vh;
}

.img-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.image-cover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 50%;
  background-color: rgba(255, 255, 255, 0.5);
  mask-image: radial-gradient(
    circle,
    black 15%,
    /* fully visible inside */ rgba(0, 0, 0, 0.5) 40%,
    /* semi-transparent fade */ transparent 70% /* invisible at edges */
  );
}

.img-element {
  position: relative;
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.crypto-data-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgb(2, 2, 26); */
}

.user-options {
  position: absolute;
  right: 0;
  height: 20%;
  width: 50%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  // border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Tablet and up */
@media (min-width: 768px) {
  .user-options {
    width: 100%;
    border-bottom-left-radius: 1rem;
  }
}

/* Desktop and up */
@media (min-width: 1024px) {
}
