<div
  class="crypto-card"
  [class.expanded]="isExpanded"
  (click)="isExpanded = !isExpanded"
>
  <!-- !Crypto card -->
  <div
    *ngIf="crypto"
    [ngStyle]="{
      position: 'relative',
      height: '100%',
      width: '100%',
      borderRadius: '1rem',
    }"
  >
    <div
      class="img-container"
      [style.height]="isExpanded ? '40%' : '100%'"
      [style.borderBottomLeftRadius]="isExpanded ? '0' : '1rem'"
      [style.borderBottomRightRadius]="isExpanded ? '0' : '1rem'"
    >
      <div
        *ngIf="crypto.image"
        class="image-cover"
        [style.background-image]="'url(' + crypto?.image?.large + ')'"
        [style.borderBottomLeftRadius]="isExpanded ? '0' : '1rem'"
        [style.borderBottomRightRadius]="isExpanded ? '0' : '1rem'"
      ></div>
      <img
        class="img-element"
        *ngIf="crypto.image"
        src="{{ crypto?.image?.large }}"
        alt=""
      />
    </div>
    <div *ngIf="isExpanded" class="crypto-data-container">
      <h2 *ngIf="crypto.name">{{ crypto?.name }}</h2>
      <h2 *ngIf="!crypto.name">{{crypto.id}}</h2>
      <div *ngIf="crypto.market_data">
        Price USD: {{ crypto.market_data.current_price.usd }}
      </div>
      <div *ngIf="crypto.coingecko_rank">
        Coin Gecko Rank: {{ crypto.coingecko_rank }}
      </div>
      <div *ngIf="crypto.collectionId">
        Collection Number: {{ crypto.collectionId }}
      </div>
    </div>
    <div *ngIf="isExpanded" class="user-options">
      <button
        appGlowify
        mat-raised-button
        color="accent"
        (click)="getChartData(crypto.id)"
      >
        Chart
      </button>
      <button
        appGlowify
        mat-raised-button
        color="warn"
        (click)="removeCrypto(crypto.id)"
      >
        Remove
      </button>
    </div>
  </div>
  <!-- !NFT Card -->
  <div
    *ngIf="nfts"
    [ngStyle]="{
      position: 'relative',
        height: '100%', width: '100%', }"
  >
    <div class="img-container" [style.height]="isExpanded ? '40%' : '100%'">
      <!-- <img class="img-element" *ngIf="nfts.image" src="*ngIf="nfts.image"" alt="" /> -->
      <img
        class="image-cover"
        *ngIf="nfts.image"
        src="{{ nfts?.image?.small }}"
        alt=""
      />
      <img
        class="img-element"
        *ngIf="nfts.image"
        src="{{ nfts?.image?.small }}"
        alt=""
      />
    </div>
    <div *ngIf="isExpanded" class="crypto-data-container">
      <h2 *ngIf="nfts.name">{{ nfts.name }}</h2>
      <div *ngIf="nfts.market_data">Price USD: {{ nfts.floor_price.usd }}</div>
    </div>
    <div *ngIf="isExpanded" class="user-options">
      <button
        mat-raised-button
        color="warn"
        (click)="removeCrypto(nfts.id)"
        [style.minWidth]="!isLargeScreen ? '25%' : '10%'"
      >
        Remove
      </button>
    </div>
  </div>
</div>
