<div
  class="crypto-card"
  (mouseenter)="toggleExtentionState()"
  (mouseleave)="toggleExtentionState()"
>
  <!-- !Crypto card -->
  <div
    *ngIf="crypto"
    [ngStyle]="{
        position: 'relative',
    height: '100%', width: '100%', }"
  >
    <div
      class="img-container"
      [style.height]="extentionState ? '40%' : '100%'"
      [style.borderRadius]="extentionState ? '' : '1rem'"
    >
      <img
        class="image-cover"
        [style.borderRadius]="extentionState ? '' : '1rem'"
        *ngIf="crypto.image"
        src="{{ crypto.image.large }}"
        alt=""
      />
      <img
        class="img-element"
        *ngIf="crypto.image"
        src="{{ crypto.image.large }}"
        alt=""
      />
    </div>
    <div *ngIf="extentionState" class="crypto-data-container">
      <h2 *ngIf="crypto.name">{{ crypto.name }}</h2>
      <div *ngIf="crypto.market_data">
        Price USD: {{ crypto.market_data.current_price.usd }}
      </div>
      <div *ngIf="crypto.coingecko_rank">
        Coin Gecko Rank: {{ crypto.coingecko_rank }}
      </div>
      <div *ngIf="crypto.collectionId">
        Collection Number: {{ crypto.collectionId }}
      </div>
    </div>
    <div *ngIf="extentionState" class="user-options">
      <button
        appGlowify
        class="chart-btn"
        (click)="getChartData(crypto.id)"
        [style.width]="!isLargeScreen ? '25%' : '10%'"
      >
        Chart
      </button>
      <button
        appGlowify
        class="delete-btn"
        (click)="removeCrypto(crypto.id)"
        [style.minWidth]="!isLargeScreen ? '25%' : '10%'"
      >
        Remove
      </button>
    </div>
  </div>
  <!-- !NFT Card -->
  <div
    *ngIf="nfts"
    [ngStyle]="{
      position: 'relative',
        height: '100%', width: '100%', }"
  >
    <div
      class="img-container"
      [style.height]="extentionState ? '40%' : '100%'"
      [style.borderRadius]="extentionState ? '' : '1rem'"
    >
      <!-- <img class="img-element" *ngIf="nfts.image" src="*ngIf="nfts.image"" alt="" /> -->
      <img
        class="image-cover"
        *ngIf="nfts.image"
        [style.borderRadius]="extentionState ? '' : '1rem'"
        src="{{ nfts.image.small }}"
        alt=""
      />
      <img
        class="img-element"
        *ngIf="nfts.image"
        src="{{ nfts.image.small }}"
        alt=""
      />
      <!-- <img src="https://coin-images.coingecko.com/nft_contracts/images/279/small/pixelmon.gif?1707287249"/> -->
    </div>
    <div *ngIf="extentionState" class="crypto-data-container">
      <h2 *ngIf="nfts.name">{{ nfts.name }}</h2>
      <div *ngIf="nfts.market_data">Price USD: {{ nfts.floor_price.usd }}</div>
      <!-- <div *ngIf="nfts.coingecko_rank">Coin Gecko Rank: {{nfts.coingecko_rank}}</div>
            <div *ngIf="nfts.collectionId">Collection Number: {{crypto.collectionId}}</div> -->
    </div>
    <div *ngIf="extentionState" class="user-options">
      <button
        class="delete-btn"
        (click)="removeCrypto(nfts.id)"
        [style.minWidth]="!isLargeScreen ? '25%' : '10%'"
      >
        Remove
      </button>
    </div>
  </div>
</div>
