@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .crypto-card {
    box-shadow: mat.get-theme-color($theme, accent) 0px 0px 7px 4px;
    // background-color: mat.get-theme-color($theme, accent);
  }

  .crypto-card:hover {
    box-shadow: mat.get-theme-color($theme, accent) 0px 0px 12px 7px;
  }

  .image-cover {
    //mat.get-theme-color($theme, accent);
    // mask-image: radial-gradient(
    //   circle,
    //   mat.get-theme-color($theme, accent, 0.75) 80%,
    //   mat.get-theme-color($theme, accent, 0.5) 85%, //same color but withopacity
    //   transparent 95%
    // );
    background: radial-gradient(
        ellipse at top,
        mat.get-theme-color($theme, accent, darker),
        transparent
      ),
      radial-gradient(
        ellipse at bottom,
        mat.get-theme-color($theme, primary),
        transparent
      );
  }

  .img-element {
    box-shadow: mat.get-theme-color($theme, accent) 0px 0px 15px 3px;
  }

  .user-options {
    background: radial-gradient(
        ellipse at top,
        mat.get-theme-color($theme, accent, darker),
        transparent
      ),
      radial-gradient(
        ellipse at bottom,
        mat.get-theme-color($theme, primary),
        transparent
      );
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}

.crypto-card {
  position: absolute;
  z-index: 1;
  height: 20vh;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  transition: height 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.crypto-card.expanded {
  height: 40vh;
}

.img-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.image-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-size: 300%; /* zoom */
  background-position: 50% 50%; /* focus area */
  background-repeat: no-repeat;
  opacity: 0.75;
  filter: brightness(0.8);
  // background-color: rgba(255, 255, 255, 0.5);
  // background-color: green;
  // mask-image: radial-gradient(
  //   circle,
  //   mat-color($primary, 900) 25%,
  //   mat-color($primary, 500, 0.5) 40%,
  //   // same color but with opacity
  //   transparent 70%
  // );
}

.img-element {
  position: relative;
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.crypto-data-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgb(2, 2, 26); */
}

.user-options {
  position: absolute;
  right: 0;
  height: 20%;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  // border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Tablet and up */
@media (min-width: 768px) {
  .user-options {
    width: 100%;
    border-bottom-left-radius: 1rem;
  }
}

/* Desktop and up */
@media (min-width: 1024px) {
}
