.chart-fullpage-container {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-content {
  height: 100%;
  width: 100%;
}

.spinner {
  /* position: absolute;
  top: 4rem; */
  height: 50%;
  width: 50%;
  position: relative;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
