@use 'sass:map';
@use '@angular/material' as mat;

.wallpaper-home {
  position: absolute;
  height: 100vh;
  width: 100vw; /* use vw instead of % to prevent horizontal overflow */
  top: 0;
  left: 0;
  overflow: hidden; /* prevent image overflow */
  z-index: -1; /* optional: to push behind content */
}

.big-screen-wallpaper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
}

.wallpaper-img-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.wallpaper-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover; /* THIS is the key to behave like a background */
  display: block;
}


.crypto-page {
  position: absolute;
  height: 90vh;
  width: 100%;
  top: 10vh;
  // background-color: rgb(25, 25, 57);
}

@mixin color($theme) {
  .crypto-page {
    // background-color: rgb(126, 159, 225);
    // background-color: mat.get-theme-color($theme, primary, lighter);
  }

  // .component-theme {
  //   background-color: mat.get-theme-color($theme, primary, lighter);
  //   color:  mat.get-theme-color($theme, primary, text);
  // }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}

/* // -------------------------------------- BIG SCREEN */
.big-screen {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
