.crypto-page {
  height: 90vh;
  width: 100%;
  background-color: rgb(25, 25, 57);
}

.listt-container {
  /* height: 40%;
  width: 70%; */
  color: black;
  background-color: rgb(3, 3, 36);
  border-radius: 1rem;
  border-style: solid;
  border-width: thin;
  border-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 8rem;
}

.toggleButton {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 2rem;
  width: 6rem;
  border-radius: .5rem;
  background-color: rgb(71, 134, 155);
  color: darkblue;
  border-style: solid;
  border-width: thin;
  border-color: blue
}