<!-- <div class="user-background-top"></div> -->
<div class="big-screen">
  <!-- !Chart -->
  <div *ngIf="chartState" class="app-chart-container">
    <app-chart-view
      [chosenCrypto]="chosenCrypto"
      [chartState]="chartState"
      (closeChart)="closeChart.emit()"
    />
  </div>
  <!-- ! User Info and Posts -->
  <div *ngIf="!chartState" class="left-section">
    <!-- ? PROFILE -->
    <div class="user-general-data-container">
      <div class="primary-component-theme"></div>
      <div
        *ngIf="settingState"
        [ngStyle]="{ position: 'relative', height: '100%', width: '100%' }"
      >
        <app-settings-view
          (updateUser)="updateUser.emit()"
          [updateUserForm]="updateUserForm"
          [user]="user"
          (useCopresserOnImage)="useCopresserOnImage.emit()"
          (toggleSettings)="toggleSettings.emit()"
        >
        </app-settings-view>
      </div>
      <div
        *ngIf="!settingState"
        [ngStyle]="{ position: 'relative', height: '100%', width: '25%' }"
      >
        <div
          [ngStyle]="{
            height: '100%',
            width: '100%',
            display: 'flex-start',
            flexDirection: 'column',
            alignItems: 'center',
            justifyContent: 'center'
          }"
          *ngIf="!settingState"
        >
          <img
            [ngStyle]="{
              height: '100%',
              width: 'auto',
              borderTopLeftRadius: '1rem',
              borderBottomLeftRadius: '1rem'
            }"
            *ngIf="profilePic"
            [src]="profilePic"
            alt=""
          />
          <img
            [ngStyle]="{
              height: '100%',
              width: 'auto',
              borderTopLeftRadius: '1rem',
              borderBottomLeftRadius: '1rem'
            }"
            *ngIf="!profilePic"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW_ta1iyjzaD9GD0j6LtM7bdUS2_tbI2ESRQ&usqp=CAU"
            alt=""
          />
        </div>
      </div>
      <div class="user-info-background">
        <img class="img" *ngIf="profilePic" [src]="profilePic" alt="" />
      </div>
      <div *ngIf="!settingState" class="user-info-container">
        <div class="btn-container">
          <button
            (click)="toggleFriendsList.emit()"
            mat-raised-button
            color="accent"
          >
            Friends
          </button>
          <button
            (click)="toggleFriendRequestList.emit()"
            mat-raised-button
            color="accent"
          >
            Friend Requests
          </button>
          <button
            (click)="toggleSettings.emit()"
            mat-raised-button
            color="accent"
          >
            Update
          </button>
        </div>
        <!--! User Info  -->
        <div class="names-section">
          <div class="user-info-line">
            <h2 *ngIf="user.name">{{ user.name }}</h2>
            <h2 *ngIf="!user.username">No Name</h2>
          </div>
          <div class="user-info-line">
            <h6 *ngIf="user.username">&#64;{{ user.username }}</h6>
            <h6 *ngIf="!user.username">No Usernamme</h6>
          </div>
        </div>
      </div>
    </div>
<!--? POSTS -->
    <div class="user-posts-container">
      <div class="primary-component-theme"></div>
      <form
        class="new-post-container"
        [formGroup]="postForm"
        (ngSubmit)="savePost()"
      >
        <mat-form-field color="primary" appearance="outline" style="width: 50%; height: 80%;">
          <mat-label>Write your post</mat-label>
          <input matInput formControlName="thePost" />
        </mat-form-field>

        <button type="submit" mat-raised-button color="accent">Post</button>
      </form>
      <div class="all-posts-container-outer">
        <div *ngIf="!userPosts">No Posts Yet</div>

        <div *ngIf="userPosts" class="all-posts-container">
          <div *ngFor="let post of userPosts" class="post-container">
            <user-note-card-large
              class="user-post-card-component"
              [note]="post"
            ></user-note-card-large>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ! Friends List -->
  <div *ngIf="friendsListState" class="listContainer">
    <div
      [style.position]="'absolute'"
      [style.width]="'100%'"
      [style.height]="'100%'"
      [style.backgroundColor]="'rgba(0, 0, 0, 0.8)'"
      [style.filter]="'blur(1rem)'"
    ></div>
    <div class="title-nav-container">
      <div class="title-container">
        <h2>Friends</h2>
      </div>
      <div class="nav-options">
        <button
          mat-raised-button
          color="danger"
          (click)="toggleFriendsList.emit()"
        >
          Exit
        </button>
      </div>
    </div>
    <div class="table-container">
      <table
        mat-table
        [ngStyle]="{
          backgroundColor: 'transparent',
          color: 'white',
        }"
        [dataSource]="myfriends_dataSource"
        class="table"
      >
        <ng-container matColumnDef="Image">
          <th
            mat-header-cell
            [ngStyle]="{
              height: '100%',
              display: 'flex',
              flexDirection: 'row',
              alignItems: 'center',
              justifyContent: 'space-around'
            }"
            *matHeaderCellDef
          >
            Image
          </th>
          <td mat-cell *matCellDef="let element">
            <div
              [ngStyle]="{
                display: 'flex',
                flexDirection: 'row',
                alignItems: 'center',
                justifyContent: 'center'
              }"
            >
              <img [src]="element.restOfUser.profileImage" alt="" />
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.restOfUser.name }}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.status }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Options">
          <th
            mat-header-cell
            [ngStyle]="{
              height: '100%',
              display: 'flex',
              flexDirection: 'row',
              alignItems: 'center',
              justifyContent: 'space-around'
            }"
            *matHeaderCellDef
          >
            Options
          </th>
          <td
            mat-cell
            [ngStyle]="{
              height: '100%',
              display: 'flex',
              flexDirection: 'row',
              alignItems: 'center',
              justifyContent: 'space-around'
            }"
            color="danger"
            *matCellDef="let element"
          >
            <button
              (click)="acceptFriendRequest(element.id)"
              mat-raised-button
              color="primary"
            >
              Accept
            </button>
            <button
              (click)="denyFriendRequest(element.id)"
              mat-raised-button
              color="danger"
            >
              Deny
            </button>
            <button mat-raised-button color="danger">X</button>
          </td>
        </ng-container> -->
        <tr
          mat-header-row
          *matHeaderRowDef="['Image', 'Name']"
          [ngStyle]="{ color: 'white' }"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['Image', 'Name']"
          [ngStyle]="{ color: 'white' }"
        ></tr>
      </table>
    </div>
  </div>
  <!-- ! FRIEND REQUESTS -->
  <div *ngIf="friendRequestList" class="listContainer">
    <div
      [style.position]="'absolute'"
      [style.width]="'100%'"
      [style.height]="'100%'"
      [style.backgroundColor]="'rgba(0, 0, 0, 0.8)'"
      [style.filter]="'blur(1rem)'"
    ></div>
    <div class="title-nav-container">
      <div class="title-container">
        <h2 *ngIf="!sentOrRecieved_state">Recieved Friend Requests</h2>
        <h2 *ngIf="sentOrRecieved_state">Sent Friend Requests</h2>
      </div>
      <div class="nav-options">
        <button
          *ngIf="sentOrRecieved_state"
          mat-raised-button
          color="primary"
          (click)="toggle_SentOrRecieved()"
        >
          Recieved
        </button>
        <button
          *ngIf="!sentOrRecieved_state"
          mat-raised-button
          color="primary"
          (click)="toggle_SentOrRecieved()"
        >
          Sent
        </button>
        <button
          mat-raised-button
          color="danger"
          (click)="toggleFriendRequestList.emit()"
        >
          EXIT
        </button>
      </div>
    </div>
    <div class="table-container">
      <!-- ! Recieved Requests -->
      <table
        *ngIf="!sentOrRecieved_state"
        mat-table
        [ngStyle]="{
          backgroundColor: 'transparent',
          color: 'white',
        }"
        [dataSource]="dataSource"
        class="table"
      >
        <ng-container matColumnDef="Image">
          <th
            mat-header-cell
            [ngStyle]="{
              height: '100%',
              display: 'flex',
              flexDirection: 'row',
              alignItems: 'center',
              justifyContent: 'space-around'
            }"
            *matHeaderCellDef
          >
            Image
          </th>
          <td mat-cell *matCellDef="let element">
            <div
              [ngStyle]="{
                display: 'flex',
                flexDirection: 'row',
                alignItems: 'center',
                justifyContent: 'center'
              }"
            >
              <img [src]="element.restOfUser.profileImage" alt="" />
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.restOfUser.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.status }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Options">
          <th
            mat-header-cell
            [ngStyle]="{
              height: '100%',
              display: 'flex',
              flexDirection: 'row',
              alignItems: 'center',
              justifyContent: 'space-around'
            }"
            *matHeaderCellDef
          >
            Options
          </th>
          <td
            mat-cell
            [ngStyle]="{
              height: '100%',
              display: 'flex',
              flexDirection: 'row',
              alignItems: 'center',
              justifyContent: 'space-around'
            }"
            color="danger"
            *matCellDef="let element"
          >
            <button
              (click)="acceptFriendRequest(element.id)"
              mat-raised-button
              color="primary"
            >
              Accept
            </button>
            <button
              (click)="denyFriendRequest(element.id)"
              mat-raised-button
              color="danger"
            >
              Deny
            </button>
            <button mat-raised-button color="danger">X</button>
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          [ngStyle]="{ color: 'white' }"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngStyle]="{ color: 'white' }"
        ></tr>
      </table>
      <!-- ! Sent Requests -->
      <table
        *ngIf="sentOrRecieved_state"
        mat-table
        [ngStyle]="{
          backgroundColor: 'transparent',
          color: 'white',
        }"
        [dataSource]="sentFriendRequests_dataSource"
        class="table"
      >
        <ng-container matColumnDef="Image">
          <th
            mat-header-cell
            [ngStyle]="{
              height: '100%',
              display: 'flex',
              flexDirection: 'row',
              alignItems: 'center',
              justifyContent: 'space-around'
            }"
            *matHeaderCellDef
          >
            PICture
          </th>
          <td mat-cell *matCellDef="let element">
            <div
              [ngStyle]="{
                display: 'flex',
                flexDirection: 'row',
                alignItems: 'center',
                justifyContent: 'center'
              }"
            >
              <img [src]="element.restOfUser.profileImage" alt="" />
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.restOfUser.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.status }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Options">
          <th
            mat-header-cell
            [ngStyle]="{
              height: '100%',
              display: 'flex',
              flexDirection: 'row',
              alignItems: 'center',
              justifyContent: 'space-around'
            }"
            *matHeaderCellDef
          >
            Options
          </th>
          <td
            mat-cell
            [ngStyle]="{
              height: '100%',
              display: 'flex',
              flexDirection: 'row',
              alignItems: 'center',
              justifyContent: 'space-around'
            }"
            *matCellDef="let element"
          >
            <button
              mat-raised-button
              (click)="cancelFriendRequest(element.restOfUser.id)"
              color="danger"
            >
              Cancel
            </button>
            <!-- <button
              (click)="acceptFriendRequest(element.id)"
              mat-raised-button
              color="primary"
            >
              Accept
            </button>
            <button
              (click)="denyFriendRequest(element.id)"
              mat-raised-button
              color="danger"
            >
              Deny
            </button>
            <button mat-raised-button color="danger">X</button> -->
          </td>
        </ng-container>
        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          [ngStyle]="{ color: 'white' }"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngStyle]="{ color: 'white' }"
        ></tr>
      </table>
    </div>
  </div>
  <!-- <div *ngIf="!chartState" class="vertical-line"></div> -->
  <!-- ! User Collections -->
  <div *ngIf="!chartState" class="right-section">
    <div class="collectionType-container">
      <div class="secondary-component-theme"></div>
      <h1 *ngIf="!collectionTypeToggle">Crypto Collection</h1>
      <h1 *ngIf="collectionTypeToggle">NFT Collection</h1>
    </div>
    <div class="superior-list-container">
      <div class="primary-component-theme"></div>
      <div *ngIf="!collectionTypeToggle" class="card-group">
        <div *ngFor="let singleCoin of cryptoCollection" class="card-item">
          <app-crypto-card
            [crypto]="singleCoin"
            [collectionClassifcation]="'crypto'"
            (chartStateOutput)="toggleChart.emit($event)"
          />
        </div>
      </div>
      <div *ngIf="collectionTypeToggle" class="card-group">
        <div *ngFor="let singleCoin of nftCollection" class="card-item">
          <app-crypto-card
            [nfts]="singleCoin"
            [collectionClassifcation]="'nft'"
          />
        </div>
      </div>
    </div>
    <div class="right-button-container">
      <button
        *ngIf="!collectionTypeToggle"
        mat-raised-button
        color="accent"
        (click)="toggleCollectionType.emit()"
      >
        NFT Collection
      </button>
      <button
        *ngIf="collectionTypeToggle"
        mat-raised-button
        color="accent"
        (click)="toggleCollectionType.emit()"
      >
        Crypto Collection
      </button>
    </div>
  </div>
</div>
