<div class="big-screen">
    <div *ngIf="chartToggler" [ngStyle]="{height: '100%', width: '100%', display: 'flex', flexDirection: 'column'}">
        <div [ngStyle]="{
             height: '100%', width: '100%', display: 'flex', flexDirection: 'row', alignItems: 'center', justifyContent: 'space-around'
        }">
            <!-- ! Chart left section (Chart)-->
            <div *ngIf="chartToggler" [ngStyle]="{backgroundColor: 'black', width: '70%', height: '90%', display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'flex-start', borderRadius: '.5rem'
            }">
                <div [ngStyle]="{
                     height: '15%', width: '100%', display: 'flex', flexDirection: 'row', alignItems: 'center', justifyContent: 'space-around'
                }">
                    <div [ngStyle]="{
                        height: '100%', width: '50%', display: 'flex', flexDirection: 'row', alignItems: 'center', justifyContent: 'flexStart'
                    }">
                        <div [ngStyle]="{
                            height: '100%', width: '25%', display: 'flex', flexDirection: 'row', alignItems: 'center', justifyContent: 'center'
                        }">
                            <img src="{{chosenCrypto.image.small}}" alt="">
                        </div>
                        <div [ngStyle]="{
                            height: '100%', width: '25%', display: 'flex', flexDirection: 'row', alignItems: 'center', justifyContent: 'center'
                        }">
                            <h2>
                                {{chosenCrypto.name}}
                            </h2>
                        </div>
                    </div>
                    <div [ngStyle]="{
                        height: '100%', width: '50%', display: 'flex', flexDirection: 'row'
                    }">
                        <div [ngStyle]="{ height: '100%', width: '50%', display: 'flex', flexDirection: 'column'}">
                            <div
                                [ngStyle]="{height: '50%', width: '100%', display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'center'}">
                                USD | ${{chosenCrypto.market_data.current_price.usd}}
                            </div>
                            <br>
                            <div
                                [ngStyle]="{height: '50%', width: '100%', display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'center'}">
                                <div
                                    [ngStyle]="{height: '50%', width: '100%', display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'center'}">
                                    24h Δ% | {{chosenCrypto.market_data.price_change_percentage_24h_in_currency.usd}}%
                                </div>
                            </div>
                        </div>
                        <div [ngStyle]="{ height: '100%', width: '50%', display: 'flex', flexDirection: 'column'}">
                            <div
                                [ngStyle]="{height: '50%', width: '100%', display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'center'}">
                                24h High | ${{chosenCrypto.market_data.high_24h.usd}}
                            </div>
                            <br>
                            <div
                                [ngStyle]="{height: '50%', width: '100%', display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'center'}">
                                <div
                                    [ngStyle]="{height: '50%', width: '100%', display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'center'}">
                                    24h Low | ${{chosenCrypto.market_data.low_24h.usd}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <canvas *ngIf="chartActive" baseChart [ngStyle]="{
                    height: '65%', width: 'auto', borderRadius: '.5rem'
                }" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions" [legend]="lineChartLegend">
                </canvas>
                <div *ngIf="!chartActive" [ngStyle]="{
                    height: '65%', width: 'auto%', borderRadius: '.5rem',
                    display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'flex-start', marginTop: '2rem',
                }">
                    <ngx-spinner class="spinner" size="medium" template="<img src='../../../../../../assets/805.gif' />"
                        [fullScreen]="false" bdColor="rgba(1,1,1,1)"></ngx-spinner>
                    <h3>API cooling down, please wait, and try again</h3>
                    <div>{{counter}}</div>
                    <div *ngIf="counter === 0">Sending Request...</div>
                </div>
            </div>
            <!-- ! Chart right section (Info) -->
            <div *ngIf="chartToggler" [ngStyle]="{
                height: '100%', width: '25%', display: 'flex', flexDirection: 'column', alignItems: 'center', justifyContent: 'flex-start', gap: '2rem'
            }">
                <div [ngStyle]="{
                    height: '10%', width: '100%', backgroundColor: 'black', marginTop: '1rem', display: 'flex', flexDirection: 'row', alignItems: 'center', justifyContent: 'space-around', borderRadius: '.5rem'
                }">
                    <button
                        [ngStyle]="{height: '2rem', width: 'auto', maxWidth: '6rem', minWidth: '7rem', backgroundColor: 'lightblue', borderStyle: 'solid', borderWidth: 'thin', borderRadius: '.5rem', borderColor: 'darkblue'}"
                        (click)="toggleDescription.emit()">Description</button>
                    <button
                        [ngStyle]="{height: '2rem', width: 'auto', maxWidth: '6rem', minWidth: '7rem', backgroundColor: 'lightcoral', borderStyle: 'solid', borderWidth: 'thin', borderRadius: '.5rem', borderColor: 'crimson'}"
                        (click)="closeChart.emit()">Close</button>
                </div>
                <div *ngIf="chartToggler && descriptionToggler" [ngStyle]="{
                    minHeight: '50%', maxHeight: '75%', height: 'auto', width: '100%', backgroundColor: 'black', 
                    overflowY: 'auto', borderRadius: '.5rem'
                }">
                    <div [ngStyle]="{
                        margin: '1rem', marginBottom: '2rem', 
                    }">
                        <h3>What is {{chosenCrypto.name}} ?</h3>
                        <small *ngIf="chosenCrypto.description.en">{{chosenCrypto.description.en}}</small>
                        <small *ngIf="!chosenCrypto.description.en">Information not available..</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ! User Info and Posts -->
    <div class="left-section" *ngIf="!chartToggler">
        <div class="user-picture-info">
            <div class="img-container">
                <h4>Img feature coming soon... 🔮</h4>
            </div>
            <div class="user-info-container">
                <img class="userinfo-background" color="'green'"
                    src=" https://usagif.com/wp-content/uploads/gifs/fire-14.gif" alt="">
                <div class="info-settings">
                    <!-- <button (click)="toggleSettings()">Update</button> -->
                    <button class="settings-btn" (click)="toggleSettings.emit()" mat-raised-button
                        color="primary">Update</button>
                </div>
                <!--! User Info  -->
                <div *ngIf="!settingState" class="user-info-wrapper">
                    <div class="user-info-box">
                        <div class="user-info-line">
                            <h4>Username: </h4>
                            <h4>{{ user.username }}</h4>
                        </div>
                        <div class="user-info-line">
                            <h4>Name: </h4>
                            <h4>{{user.name}}</h4>
                        </div>
                    </div>
                </div>
                <!-- !Update user profile -->
                <div *ngIf="settingState" class="settings-wrapper">
                    <form [formGroup]="updateUserForm" action="" class="form-container" (ngSubmit)="updateUser.emit()">
                        <div class="form-inner-container">
                            <input formControlName="username" placeholder="Username" type="text">
                            <input formControlName="name" placeholder="Name" type="text">
                            <!-- <input placeholder="Email" type="text"> -->
                            <div [ngStyle]="{ display: 'flex', flexDirection: 'row' }">
                                <button type="submit" mat-raised-button color="primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="user-posts-container">
            <!-- <input class="post-input" type="text-area" rows="2"> -->
            <form class="new-post-container" action="" [formGroup]="postForm" (ngSubmit)="savePost()">
                <textarea formControlName="thePost" class="post-input" name="" id="" cols="50" rows="2"></textarea>
                <button type="submit" mat-raised-button color="primary">Post</button>
            </form>

            <div class="all-posts-container">
                <div *ngIf="!userPosts">No Posts Yet</div>
                <div *ngIf="userPosts">
                    <div *ngFor="let post of userPosts">
                        {{post.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isBigScreen" class="vertical-line"></div>
    <!-- ! User Collections -->
    <div class="right-section" *ngIf="!chartToggler">
        <div class="collectionType-container">
            <h2 *ngIf="!collectionTypeToggle">Crypto Collection</h2>
            <h2 *ngIf="collectionTypeToggle">NFT Collection</h2>
        </div>
        <div class="crypto-list-container">
            <div *ngIf="!collectionTypeToggle" class="mycrypto-container">
                <div *ngFor="let singleCoin of cryptoCollection">
                    <app-crypto-card [crypto]="singleCoin" [collectionClassifcation]="'crypto'"
                        (chartStateOutput)="toggleChart.emit($event)" />
                </div>
            </div>
            <div *ngIf="collectionTypeToggle" class="mycrypto-container">
                <div *ngFor="let singleCoin of nftCollection">
                    <app-crypto-card [nfts]="singleCoin" [collectionClassifcation]="'nft'" />
                </div>
            </div>
        </div>
        <div class="right-button-container">
            <button *ngIf="!collectionTypeToggle" class="btn collection-btn" (click)="toggleCollectionType.emit()">NFT
                Collection</button>
            <button *ngIf="collectionTypeToggle" class="btn collection-btn" (click)="toggleCollectionType.emit()">Crypto
                Collection</button>
        </div>
    </div>
</div>