<div appGlowify (mouseenter)="toggleChart()" class="carousel-element">
  <div class="crypto-box-container">
    <div class="crypto-image-wrapper">
      <img class="img-ele" [src]="Item.item.large" alt="" />
    </div>
    <div class="crypto-info">
      <h5>
        {{ Item.item.symbol }}
      </h5>
    </div>
    <!-- <div appGlowify class="container">
      <div class="cube">
        <div class="face top"> <img class="img-ele" [src]="Item.item.large" cross-origin="" alt="" /></div>
        <div class="face bottom"> <img class="img-ele" [src]="Item.item.large" cross-origin="" alt="" /></div>
        <div class="face left"> <img class="img-ele" [src]="Item.item.large" cross-origin="" alt="" /></div>
        <div class="face right"> <img class="img-ele" [src]="Item.item.large" cross-origin="" alt="" /></div>
        <div class="face front"> <img class="img-ele" [src]="Item.item.large" cross-origin="" alt="" /></div>
        <div class="face back"> <img class="img-ele" [src]="Item.item.large" cross-origin="" alt="" /></div>
      </div>
    </div> -->
  </div>
</div>
