@use 'sass:map';
@use '@angular/material' as mat;

/* ───── Layout & Containers ───── */
.carousel-element {
  height: 8rem;
  width: 8rem;
  position: relative;
  border-radius: 1rem;
  border-style: none;
  border-width: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ───── Images ───── */
.crypto-box-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.crypto-image-wrapper {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-ele {
  border-radius: 50%;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  max-width: 100%;
  min-width: 0;
}

/* ───── Crypto Info ───── */
.crypto-info {
  position: relative;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* ───── Material Theme Glow ───── */
@mixin color($theme) {
  .glow {
    color: mat.get-theme-color($theme, primary, text);
    animation: glow 3s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff,
        0 0 15px mat.get-theme-color($theme, primary, darker),
        0 0 20px mat.get-theme-color($theme, primary, darker),
        0 0 25px mat.get-theme-color($theme, primary, darker),
        0 0 30px mat.get-theme-color($theme, primary, darker),
        0 0 35px mat.get-theme-color($theme, primary, darker);
    }

    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff,
        0 0 15px mat.get-theme-color($theme, accent, darker),
        0 0 20px mat.get-theme-color($theme, accent, darker),
        0 0 25px mat.get-theme-color($theme, accent, darker),
        0 0 30px mat.get-theme-color($theme, accent, darker),
        0 0 35px mat.get-theme-color($theme, accent, darker);
    }
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}