<div
  appGlowify
  (mouseenter)="toggleChart()"
  class="carousel-element"
>
  <div class="img-container">
    <!-- <img class="img-ele" [src]="Item.item.large" alt="" /> -->
    <!-- <img class="img-ele back" [src]="Item.item.large" alt="" /> -->
    <div appGlowify class="img-ele container">
      <div class="cube">
        <div class="face top"> <img class="img-ele" [src]="Item.item.large" alt="" /></div>
        <div class="face bottom"> <img class="img-ele" [src]="Item.item.large" alt="" /></div>
        <div class="face left"> <img class="img-ele" [src]="Item.item.large" alt="" /></div>
        <div class="face right"> <img class="img-ele" [src]="Item.item.large" alt="" /></div>
        <div class="face front"> <img class="img-ele" [src]="Item.item.large" alt="" /></div>
        <div class="face back"> <img class="img-ele" [src]="Item.item.large" alt="" /></div>
      </div>
    </div>
    
    <div class="crypto-info">
      <div>
        {{ Item.item.symbol }}
      </div>
      <div>
        <div>Score | {{ Item.item.score }}</div>
        <div>Market Cap Rank | {{ Item.item.market_cap_rank }}</div>
      </div>
    </div>
  </div>
</div>