@use '@angular/material' as mat;

@use './app/Shared/navbar/navbar.component.scss' as navbar;
@use './app/Features/home/home.component.scss' as home;
@use './app/Features/home/Components/pageSizes/home-big/home-big.component.scss'
  as home-big-page;
@use './app/Features/home/Components/paginator/paginator.component.scss' as
  paginator;
@use './app/Features/home/Components/card/card.component.scss' as home-card;
@use './app/Features/landing/landing.component.scss' as landing;
@use './app/Features/user/user.component.scss' as user;
@use './app/Features/user/Components/PageSizes/large-page/large-page.component.scss'
  as largeUserPage;
@use './app/Features/user/Components/crypto-card/crypto-card.component.scss' as
  dataCard;
@use './app/Features/user/Components/PageSizes/large-page/components/note-card/note-card.component.scss'
  as userNoteCard;
@use './app/Features/login/login.component.scss' as login;
@use './app/Features/register/register.component.scss' as register;
@use './app/Features/surfer/surfer.component.scss' as surfer;
@use './app/Features/surfer/Components/data-card/data-card.component.scss' as
  Surfer-DataCard;
@use './app/Features/surfer/Components/surfer-crypto/surfer-crypto.component.scss'
  as surfer-cryptoCollection;
@use './app/Features/surfer/Components/PageSizes/small-page/small-page.component.scss'
  as surfer-small;
@use './app/Features/surfer/Components/PageSizes/large-page/large-page.component.scss'
  as surfer-large;
@use './app/Features/fourzerofour/fourzerofour.component.scss' as four-zero-four;
@use './app/Features/landing/Components/carousel-element/carousel-element.component.scss'
  as carouselElement;

@use './app/Features/landing/Components/about/about.component.scss' as about;

@include mat.core();
// ! #9aaab0
$light-bluski-palette: (
  50: #e6f1f7,
  100: #c2dbee,
  200: #9fc6e2,
  300: #81afd5,
  400: #6d9fcc,
  500: #5e90c4,
  600: #5683b8,
  700: #4b72a6,
  800: #436293,
  900: #344673,
  A100: #c2e4ff,
  A200: #addcff,
  A400: #1f9eff,
  A700: #00518f,
  contrast: (
    50: rgba(rgb(255, 255, 255), 1),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-coolblue: (
  50: #edf2f7,
  100: #d2e0ec,
  200: #b4cbdf,
  300: #96b6d2,
  400: #80a6c9,
  500: #6996bf,
  600: #618eb9,
  700: #5683b1,
  800: #4c79a9,
  900: #3b689b,
  A100: #ebf4ff,
  A200: #b8d8ff,
  A400: #85bcff,
  A700: #6baeff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-bluelagoon: (
  50: #e2f2f5,
  100: #b7dde6,
  200: #88c7d5,
  300: #58b1c4,
  400: #1a7c92,
  500: #084957,
  600: #068cad,
  700: #04586f,
  800: #011116,
  900: #056080,
  A100: #aee7ff,
  A200: #7bd7ff,
  A400: #48c8ff,
  A700: #2fc0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-bluelagoon-opacity: (
  50: #e2f2f521,
  100: #b7dde6,
  200: #88c7d523,
  300: #58b1c4,
  400: #34a0b8,
  500: #108fab21,
  600: #0e87a4,
  700: #0c7c9a,
  800: #09719125,
  900: #056080,
  A100: #aee7ff,
  A200: #7bd7ff,
  A400: #48c8ff,
  A700: #2fc0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$blue-dark-palette: (
  50: #e3e6eb,
  100: #b7c0cf,
  200: #8a98af,
  300: #5e718f,
  400: #3e557a,
  500: #183b68,
  600: #113561,
  700: #072d56,
  800: #02244a,
  900: #001533,
  A100: #c2e4ff,
  A200: #addcff,
  A400: #1f9eff,
  A700: #00518f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-bluewhale: (
  50: #e1ebf1,
  100: #b3cedc,
  200: #80adc5,
  300: #4d8cae,
  400: #27739c,
  500: #015a8b,
  600: #015283,
  700: #014878,
  800: #013f6e,
  900: #002e5b,
  A100: #8cbcff,
  A200: #599eff,
  A400: #2680ff,
  A700: #0d71ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-bluewhale-opacity: (
  50: #e1ebf121,
  100: #b3cedc,
  200: #80adc51b,
  300: #4d8cae,
  400: #27739c,
  500: #015b8b17,
  600: #015283,
  700: #014878,
  800: #013f6e1c,
  900: #002e5b,
  A100: #8cbcff,
  A200: #599eff,
  A400: #2680ff,
  A700: #0d71ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-devilred: (
  50: #efe1e1,
  100: #d8b3b3,
  200: #be8080,
  300: #a34d4d,
  400: #902727,
  500: #7c0101,
  600: #740101,
  700: #690101,
  800: #5f0101,
  900: #4c0000,
  A100: #ff8080,
  A200: #ff4d4d,
  A400: #ff1a1a,
  A700: #ff0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-devilred-opacity: (
  50: #efe1e11a,
  100: #d8b3b3,
  200: #be8080,
  300: #a34d4d,
  400: #902727,
  500: #7c010113,
  600: #740101,
  700: #690101,
  800: #5f010123,
  900: #4c0000,
  A100: #ff8080,
  A200: #ff4d4d,
  A400: #ff1a1a,
  A700: #ff0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-ghostwhite: (
  50: #f7f8fa,
  100: #ebeef3,
  200: #dde3eb,
  300: #cfd8e3,
  400: #c5cfdd,
  500: #bbc7d7,
  600: #b5c1d3,
  700: #acbacd,
  800: #a4b3c7,
  900: #96a6be,
  A100: #ffffff,
  A200: #ffffff,
  A400: #f5f9ff,
  A700: #dbeaff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-midnight: (
  50: #e0e3e6,
  100: #b3b8c0,
  200: #808996,
  300: #4d5a6b,
  400: #26364c,
  500: #00132c,
  600: #001127,
  700: #000e21,
  800: #000b1b,
  900: #000610,
  A100: #5270ff,
  A200: #1f45ff,
  A400: #0028eb,
  A700: #0023d2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$md-midnight-opacity: (
  50: #e0e3e622,
  100: #b3b8c0,
  200: #8089961a,
  300: #4d5a6b,
  400: #26364c,
  500: #00132c23,
  600: #001127,
  700: #000e21,
  800: #000b1b,
  900: #000610,
  A100: #508b93,
  A200: #128493,
  A400: #0c555f,
  A700: #08373d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-lightOcean: (
  50: #e0e3e622,
  100: #b3b8c0,
  200: #8089961a,
  300: #4d5a6b,
  400: #26364c,
  500: #00132c23,
  600: #001127,
  700: #000e21,
  800: #000b1b,
  900: #000610,
  A100: #d8ecff, // lighter variation
  A200: #0077e5, // original CryptoZapp blue
  A400: #004483, // slightly darker
  A700: #001326, // deeper tone
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #ffffff,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    ),
);

// ? Light Palletes
// $my-primary-light: mat.define-palette(mat.$indigo-palette, 400, 700, 900);
// $my-primary-light: mat.define-palette($md-ghostwhite, 500, 200, 800, 900);
$my-primary-light: mat.define-palette($md-lightOcean, A200, A100, A400, 900);
$my-accent-light: mat.define-palette($md-coolblue, 100, 50, 800, 900);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn-light: mat.define-palette($md-devilred, 500, 200, 800, 900);

// ? Light theme
$my-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary-light,
      accent: $my-accent-light,
      warn: $my-warn-light,
      // background: red
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// ? Dark Palette
// $my-primary-dark: mat.define-palette(mat.$gray-palette, 900);
// HUE Order -> (default, lighter, darker, text)
$my-primary-dark: mat.define-palette($md-midnight, 700, 600, 800, 50);
$my-accent-dark: mat.define-palette($blue-dark-palette, 500, 200, 800, 50);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn-dark: mat.define-palette($md-devilred, 500, 200, 800, 900);
// $background-color-dark: mat.define-palette($blue-dark-palette, 900, 300, 600, 100);

// ? Dark theme
$my-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary-dark,
      accent: $my-accent-dark,
      warn: $my-warn-dark,
    ),
    // background-color: $background-color-dark,
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// ? Light Opacity Palette
$my-primary-light-opacity: mat.define-palette(
  $md-midnight-opacity,
  500,
  200,
  800,
  50
);
$my-accent-light-opacity: mat.define-palette(
  $md-bluelagoon-opacity,
  500,
  200,
  800,
  50
);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn-light-opacity: mat.define-palette(
  $md-devilred-opacity,
  500,
  200,
  800,
  900
);

// ? Light Opacity theme
$my-light-theme-opacity: mat.define-light-theme(
  (
    color: (
      primary: $my-primary-light,
      accent: $my-accent-light,
      warn: $my-warn-light,
      // background: red
    ),
    typography: mat.define-typography-config(),
    density: 1,
  )
);

// Insert custom background color
// $background: map-get($my-dark-theme, background);
// $background: map_merge($background, (background: $background-color));
// $my-dark-theme: map_merge($my-dark-theme, (background: $background));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-light-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($my-light-theme);

//! Include the theme mixins for other components you use here.
//// @include mat.form-field-theme($my-theme);

//// @include mat.paginator-theme($my-theme);

//! Include all theme styles for the components.
.theme-light {
  @include mat.all-component-themes($my-light-theme);
  // ? In this way we make availbale the theme colors for access from specific components
  // Otherwise we cant use the colors
  @include mat.input-theme($my-light-theme);
  @include mat.button-theme($my-light-theme);
  @include navbar.theme($my-light-theme-opacity);
  @include home.theme($my-light-theme);
  @include home-big-page.theme($my-light-theme);
  @include paginator.theme($my-light-theme);
  @include home-card.theme($my-light-theme);
  @include landing.theme($my-light-theme);
  @include user.theme($my-light-theme);
  @include largeUserPage.theme($my-light-theme);
  @include dataCard.theme($my-light-theme);
  @include userNoteCard.theme($my-light-theme);
  @include login.theme($my-light-theme);
  @include register.theme($my-light-theme);
  @include surfer.theme($my-light-theme);
  @include surfer-cryptoCollection.theme($my-light-theme);
  @include Surfer-DataCard.theme($my-light-theme);
  @include surfer-small.theme($my-light-theme);
  @include surfer-large.theme($my-light-theme);
  @include four-zero-four.theme($my-light-theme);
  @include carouselElement.theme($my-light-theme);
  @include about.theme($my-light-theme);
}

.theme-dark {
  @include mat.all-component-themes($my-dark-theme);
  @include mat.input-theme($my-dark-theme);
  @include mat.button-theme($my-dark-theme);
  @include navbar.theme($my-dark-theme);
  @include home.theme($my-dark-theme);
  @include home-big-page.theme($my-dark-theme);
  @include paginator.theme($my-dark-theme);
  @include home-card.theme($my-dark-theme);
  @include landing.theme($my-dark-theme);
  @include user.theme($my-dark-theme);
  @include largeUserPage.theme($my-dark-theme);
  @include dataCard.theme($my-dark-theme);
  @include userNoteCard.theme($my-dark-theme);
  @include login.theme($my-dark-theme);
  @include register.theme($my-dark-theme);
  @include surfer.theme($my-dark-theme);
  @include surfer-cryptoCollection.theme($my-dark-theme);
  @include Surfer-DataCard.theme($my-dark-theme);
  @include surfer-small.theme($my-dark-theme);
  @include surfer-large.theme($my-dark-theme);
  @include four-zero-four.theme($my-dark-theme);
  @include carouselElement.theme($my-dark-theme);
  @include about.theme($my-dark-theme);
}

// @include navbar.theme($my-dark-theme);
