@use 'sass:map';
@use '@angular/material' as mat;


.card {
  // margin-right: 3rem;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  scroll-snap-align: start;
}

.coin-img-container {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom: 0;
}

.img-item {
  height: 85%;
  width: auto;
  border-radius: 50%;
}

.coin-info-container {
  height: 30%;
  width: 100%;
  // background-color: rgb(43, 58, 91);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coin-info {
  position: relative;
  height: 100%;
  width: 100%;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //white-space: nowrap; /* Prevent text from wrapping */
  //overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowing text */
  max-width: 100%; /* Ensure it respects the container's width */
}

.options {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {


}

/* Desktop and up */
@media (min-width: 1024px) {

  
}

@mixin color($theme) {
  .card {
    // background-color: mat.get-theme-color($theme, primary, darker);
    // opacity: 0.2;
  }

  .card-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: mat.get-theme-color($theme, primary, lighter);
    opacity: 0.1;
  }

  .coin-info-container {
    // background-color: mat.get-theme-color($theme, primary, lighter);
    color: mat.get-theme-color($theme, accent, text);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}