<div
  *ngIf="PopUpState === false && NFTPopUpState === false"
  gloww
  class="card"
  [ngStyle]="cardClass"
>
  <div class="card-background"></div>
  <div class="coin-img-container">
    <img class="img-item" src="{{ dataImage }}" alt="" />
  </div>
  <div class="coin-info-container">
    <div class="coin-info">
      <h3 [ngStyle]="{ position: 'absolute', 'text-align': 'left' }">
        {{ dataName }}
      </h3>

      <!-- <h3>{{ dataMarketCapRank }}</h3> -->

      <!-- <button (click)="getMoreInfo()">{{coinId}}</button> -->
    </div>
  </div>
  <div class="options">
    <!-- class="save-btn" -->
    <button
      *ngIf="authState"
      mat-raised-button
      color="primary"
      (click)="saveToCollection(coinId)"
    >
      Save
    </button>
  </div>
</div>
<div *ngIf="PopUpState === true" gloww class="card" [ngStyle]="cardClass">
  <h2>Capacity Reached {{ this.cryptosCollection.length }}</h2>
</div>
<div *ngIf="NFTPopUpState === true" gloww class="card" [ngStyle]="cardClass">
  <h2>Capacity Reached {{ this.nftCollection.length }}</h2>
</div>
