<div>
  <div *ngIf="pageSize">
    <surfer-large-page
    [surfer]="surfer"
    [noteDisplayState]="noteDisplayState"
    (toggleNotes)="toggleNotes()"
    [surferPostStatus]="surferPostStatus"
    [surferCryptoStatus]="surferCryptoStatus"
  />
  </div>
  <div *ngIf="!pageSize">
    <surfer-small-page
    [surfer]="surfer"
    [noteDisplayState]="noteDisplayState"
    (toggleNotes)="toggleNotes()"
    [surferPostStatus]="surferPostStatus"
    [surferCryptoStatus]="surferCryptoStatus"
  />
  </div>
  
</div>