@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  .surfer-superior {
    position: relative;
    height: 90vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .primary-content-container {
    position: relative;
    height: 35%;
    width: 100%;
    background-color: mat.get-theme-color($theme, primary, lighter);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .surfer-general-data {
    color:  mat.get-theme-color($theme, primary, text);;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .surfer-notes-container {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: mat.get-theme-color($theme, accent, darker);
  }

  .note-toggle-btn-container {
    position: absolute;
    right: 10%;
    bottom: 5%;
  }

  .secondary-content-container {
    height: 65%;
    width: 100%;
    background-color: mat.get-theme-color($theme, primary, darker);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .surfer-crypto {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
